.testimonios-main {
    &__content {
        &__socios {
            display: grid;
            @include desde($mediun) {
                grid-template-columns: repeat(3, 1fr);
            }
            @include desde($large) {
                grid-template-columns: repeat(6, 1fr);
                padding: 50px 0px;
            }
            div {
                width: 250px;
                height: 250px;
                margin: 0px auto;
                @include desde($mediun) {
                    width: auto;
                    height: auto;
                    margin: 0px 0px;
                }
            }
        }
        &__testigos {
            overflow: hidden;
            display: grid;
            @include desde($mediun) {
                grid-template-columns: repeat(2, 1fr);
                padding: 0px 0 50px 0px;
            }
            &__datos {
                margin: 0;
                background: url(../img/testimonials.png) no-repeat;
                background-size: 80%;
                background-position: center center;
                @include desde($mediun) {
                    align-items: center;
                    display: flex;
                }
                div {
                    text-align: center;
                    h4 {
                        font-family: $titulos, sans-serif;
                        color: $crema;
                        font-weight: 700;
                        font-size: 1.5em;
                        margin: 0;
                        @include desde($large) {
                            font-size: 2.5em;
                        }
                    }
                    h2 {
                        font-family: $titulos, sans-serif;
                        color: $marron;
                        font-weight: 700;
                        font-size: 2em;
                        margin: 0;
                        @include desde($large) {
                            font-size: 3.5em;
                        }
                    }
                    span {
                        font-family: $titulos, sans-serif;
                        color: $negro;
                        font-size: 1em;
                    }
                    p {
                        color: $negro;
                        font-family: $textosr, sans-serif;
                        font-size: 1em;
                        margin: 20px 0px;
                        @include desde($large) {
                            text-align: center;
                            font-size: 1.2em;
                            width: 80%;
                            margin: 40px auto;
                            
                        }
                    }
                    i {
                        font-size: 3em;
                    }
                }
            }
            &__img {
                position: relative;
       
                img {
                    position: relative;
                    top: 30px;
                    @include desde($mediun) {
                        top: 150px;
                        
                    }
                
                }
            }
        }
    }
}
