.productos-main {

    &__blocktitle {
        height: 100px;
      @include desde($large) {
        height: 150px;

 
    }
     
        &__title {
            text-align: center;
            @include desde($mediun) {
                position: absolute;
                left:0;
                right: 0;
                display:block;
            }
            span {
                font-family: $titulos, sans-serif;
                color: $white;
                opacity: 0.7;
                font-weight: 700;
                font-size: 6em;
                display:none;
           
                @include desde($mediun) {
                    position: absolute;
                    left:0;
                    right: 0;
                    display:block;
                }
                @include desde($large) {
                    font-size: 7em;
                }

            }
            h1 {
                font-family: $titulos, sans-serif;
                color: $marron;
                font-weight: 700;
                font-size: 1em;
                margin: 0px;
                @include desde($mediun) {
                    position: relative;
                    top:40px;
                }
            
                @include desde($large) {
                    font-size: 2em;
                    top:70px;
                }
            }
        }
    }
    &__blockproducts {
        @include desde($large) {
            
        }
        &__item {
            max-width: 100%;
            h2 {
                font-family: $titulos, sans-serif;
                color: $crema;
                font-weight: 700;
                font-size: 1.5em;
            }
            @include desde($large) {
            text-align: center;
        
            }
            &__items {
                @include desde($mediun) {
                    display: grid;
                    grid-template-columns: repeat(5,1fr);
                    grid-gap: 1em;
                    padding: 0px 0 40px 0;
                }
                div {

                    text-align: center;
                    font-family: $titulos, sans-serif;
                    a{
                      color:#D5D5D5;
                      transition: ease-in .25s;
                      &:hover{
                        transition: ease-in .25s;
                        color:lighten(black, 20)
                      }
                    img {}
                    h3 {
                        
                        color: $marron;
                        font-weight: 500;
                        font-size: 1.2em;
                    }
                    p {

                        font-weight: 600;
                        font-size: 1em;
                    }
                }
              }
            }
        }
    }

    &__button{
      width: 100%;
      text-align: center;
     
      a{
      
        cursor: pointer;
        //padding: 15px;
        i{
          font-size: 1.5em;
          padding-left: 5px;
          position: relative;
          top:2px;
        }
      }
    }
}
