extends ../includes/template
block main
  section(class="blog-main l-container")
    div(class="blog-main__portada" style="text-alig:center;")
      div(class="carousel slide" id="portadaabout" data-interval="2000" data-ride="carousel")
        div(class="carousel-inner")
          div(class="carousel-item active")
            img(src="img/blog-1.jpg" alt="Los Angeles" width="100%" height="500")
            div(class="carousel-caption")
              h3 Los Angeles
              p We had such a great time in LA
          div(class="carousel-item ")
            img(src="img/blog-2.jpg" alt="Los Angeles" width="100%" height="500")
            div(class="carousel-caption")
              h3 Los Angeles
              p We had such a great time in LA
          div(class="carousel-item ")
            img(src="img/blog-3.jpg" alt="Los Angeles" width="100%" height="500")
            div(class="carousel-caption")
              h3 Los Angeles
              p We had such a great time in LA

          a(class="carousel-control-next" href="#portadaabout" role="button" data-slide="next")
            span(class="carousel-control-next-icon" aria-hidden="true") 
            span(class="sr-only") Next   
            
   
          