extends ../includes/template
block main
  section(class="detalle-portada" style="background-image: url('img/selva-5.jpeg')" )
    div(class="l-container")
      div(class="info-main")
        div(class="info")
          span(class="categoria")
           a(href="") World
          h1(class="titulo") Class aptent taciti sociosqu ad litora torquent per conubia
          span(class="fecha") Julio 28, 2018

  section(class="post-detalle")
    div(class="l-container")
      div(class="post-main")
        div(class="post-main__detalle")

        div(class="post-main__filtro")
        
        





