extends ../includes/template
block main
  section(class="headabout")
    div(class="headabout__main  l-container")
      h1 búsqueda de "blog"
      ul
        li 
          a(href="") Inicio / 
        li 
          a(href="") búsqueda de "blog"
    div(class="border-cafe")
  section(class="filtro-main l-container")
    div(class="filtro-main__items") 
      article 
        a(href="" class="photo")
          img(src="img/blog/blog-3.jpg", alt="")
        div(class="description")
          a(href="")
            h1 Evening Rock concert of “RockMafia”
            div(class="text") 
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Non vel quas minus doloribus atque architecto quaerat perspiciatis odio voluptas omnis, eaque similique. Velit itaque vitae amet dolor ex aliquam quis?
        a(href="" class="foot-filtro")
          span(class="link") Ver Más
          span(class="fecha") 26 Septiembre 2018
    div(class="filtro-main__items") 
      article 
        a(href="" class="photo")
          img(src="img/blog/blog-3.jpg", alt="")
        div(class="description")
          a(href="")
            h1 Evening Rock concert of “RockMafia”
            div(class="text") 
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Non vel quas minus doloribus atque architecto quaerat perspiciatis odio voluptas omnis, eaque similique. Velit itaque vitae amet dolor ex aliquam quis?
        a(href="" class="foot-filtro")
          span(class="link") Ver Más
          span(class="fecha") 26 Septiembre 2018
    div(class="filtro-main__items") 
      article 
        a(href="" class="photo")
          img(src="img/blog/blog-3.jpg", alt="")
        div(class="description")
          a(href="")
            h1 Evening Rock concert of “RockMafia”
            div(class="text") 
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Non vel quas minus doloribus atque architecto quaerat perspiciatis odio voluptas omnis, eaque similique. Velit itaque vitae amet dolor ex aliquam quis?
        a(href="" class="foot-filtro")
          span(class="link") Ver Más
          span(class="fecha") 26 Septiembre 2018
    
    div(class="filtro-main__items") 
      article 
        a(href="" class="photo")
          img(src="img/blog/blog-3.jpg", alt="")
        div(class="description")
          a(href="")
            h1 Evening Rock concert of “RockMafia”
            div(class="text") 
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Non vel quas minus doloribus atque architecto quaerat perspiciatis odio voluptas omnis, eaque similique. Velit itaque vitae amet dolor ex aliquam quis?
        a(href="" class="foot-filtro")
          span(class="link") Ver Más
          span(class="fecha") 26 Septiembre 2018

    div(class="filtro-main__items") 
      article 
        a(href="" class="photo")
          img(src="img/blog/blog-3.jpg", alt="")
        div(class="description")
          a(href="")
            h1 Evening Rock concert of “RockMafia”
            div(class="text") 
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Non vel quas minus doloribus atque architecto quaerat perspiciatis odio voluptas omnis, eaque similique. Velit itaque vitae amet dolor ex aliquam quis?
        a(href="" class="foot-filtro")
          span(class="link") Ver Más
          span(class="fecha") 26 Septiembre 2018
    
    div(class="filtro-main__items") 
      article 
        a(href="" class="photo")
          img(src="img/blog/blog-3.jpg", alt="")
        div(class="description")
          a(href="")
            h1 Evening Rock concert of “RockMafia”
            div(class="text") 
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Non vel quas minus doloribus atque architecto quaerat perspiciatis odio voluptas omnis, eaque similique. Velit itaque vitae amet dolor ex aliquam quis?
        a(href="" class="foot-filtro")
          span(class="link") Ver Más
          span(class="fecha") 26 Septiembre 2018

    div(class="filtro-main__items") 
      article 
        a(href="" class="photo")
          img(src="img/blog/blog-3.jpg", alt="")
        div(class="description")
          a(href="")
            h1 Evening Rock concert of “RockMafia”
            div(class="text") 
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Non vel quas minus doloribus atque architecto quaerat perspiciatis odio voluptas omnis, eaque similique. Velit itaque vitae amet dolor ex aliquam quis?
        a(href="" class="foot-filtro")
          span(class="link") Ver Más
          span(class="fecha") 26 Septiembre 2018
    div(class="filtro-main__items") 
      article 
        a(href="" class="photo")
          img(src="img/blog/blog-3.jpg", alt="")
        div(class="description")
          a(href="")
            h1 Evening Rock concert of “RockMafia”
            div(class="text") 
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Non vel quas minus doloribus atque architecto quaerat perspiciatis odio voluptas omnis, eaque similique. Velit itaque vitae amet dolor ex aliquam quis?
        a(href="" class="foot-filtro")
          span(class="link") Ver Más
          span(class="fecha") 26 Septiembre 2018
    div(class="filtro-main__items") 
      article 
        a(href="" class="photo")
          img(src="img/blog/blog-3.jpg", alt="")
        div(class="description")
          a(href="")
            h1 Evening Rock concert of “RockMafia”
            div(class="text") 
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Non vel quas minus doloribus atque architecto quaerat perspiciatis odio voluptas omnis, eaque similique. Velit itaque vitae amet dolor ex aliquam quis?
        a(href="" class="foot-filtro")
          span(class="link") Ver Más
          span(class="fecha") 26 Septiembre 2018

    div(class="filtro-main__items") 
      article 
        a(href="" class="photo")
          img(src="img/blog/blog-3.jpg", alt="")
        div(class="description")
          a(href="")
            h1 Evening Rock concert of “RockMafia”
            div(class="text") 
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Non vel quas minus doloribus atque architecto quaerat perspiciatis odio voluptas omnis, eaque similique. Velit itaque vitae amet dolor ex aliquam quis?
        a(href="" class="foot-filtro")
          span(class="link") Ver Más
          span(class="fecha") 26 Septiembre 2018

    div(class="filtro-main__items") 
      article 
        a(href="" class="photo")
          img(src="img/blog/blog-3.jpg", alt="")
        div(class="description")
          a(href="")
            h1 Evening Rock concert of “RockMafia”
            div(class="text") 
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Non vel quas minus doloribus atque architecto quaerat perspiciatis odio voluptas omnis, eaque similique. Velit itaque vitae amet dolor ex aliquam quis?
        a(href="" class="foot-filtro")
          span(class="link") Ver Más
          span(class="fecha") 26 Septiembre 2018

    div(class="filtro-main__items") 
      article 
        a(href="" class="photo")
          img(src="img/blog/blog-3.jpg", alt="")
        div(class="description")
          a(href="")
            h1 Evening Rock concert of “RockMafia”
            div(class="text") 
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Non vel quas minus doloribus atque architecto quaerat perspiciatis odio voluptas omnis, eaque similique. Velit itaque vitae amet dolor ex aliquam quis?
        a(href="" class="foot-filtro")
          span(class="link") Ver Más
          span(class="fecha") 26 Septiembre 2018
