extends ../includes/template
block main
    section(class="nosotros-main l-container")
      div(class="nosotros-main__info")
        h3 Cooperativa Agraria
        h1 Cafetelera Pangoa
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo optio aliquam delectus, enim reiciendis dolorem ullam error unde, corrupti fugit dignissimos est laborum. Vel ullam illum, at harum est aperiam.
        span Pangoa, Descubre nuestra historia...
      div(class="nosotros-main__service")
        div(class="nosotros-main__service__items")
          div(class="nosotros-main__service__items__item")
            img(src="img/icon/icon-1.png", alt="")
            h2 Cosecha
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore vitae id magnam aliquid quidem! Minima cum culpa, aliquam sequi delectus repellat optio facilis vero eos tempora pariatur autem commodi voluptatum?
          div(class="nosotros-main__service__items__item")
            img(src="img/icon/icon-2.png", alt="")
            h2 Venta
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore vitae id magnam aliquid quidem! Minima cum culpa, aliquam sequi delectus repellat optio facilis vero eos tempora pariatur autem commodi voluptatum? 
        div(class="nosotros-main__service__items")
          div(class="nosotros-main__service__items__item")
            img(src="img/icon/icon-3.png", alt="")
            h2 Producción
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore vitae id magnam aliquid quidem! Minima cum culpa, aliquam sequi delectus repellat optio facilis vero eos tempora pariatur autem commodi voluptatum?
          div(class="nosotros-main__service__items__item")
            img(src="img/icon/icon-4.png", alt="")
            h2 Exportación
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore vitae id magnam aliquid quidem! Minima cum culpa, aliquam sequi delectus repellat optio facilis vero eos tempora pariatur autem commodi voluptatum?
    
    section(class="productos-main l-container")
      div(class="productos-main__blocktitle")
        div(class="productos-main__blocktitle__title")
          span PRODUCTOS
          h1 Productos
      div(class="productos-main__blockproducts")
          div(class="productos-main__blockproducts__item col-md-6")
            h2 Nacionales
            div(class="productos-main__blockproducts__item__items")
              div
                img(src="img/p3.png", alt="")
                h3 Chocolate Premiun
                p 70% Cacao Organico
              div
                img(src="img/p2.png", alt="")
                h3 Chocolate Premiun
                p 70% Cacao Organico
          div(class="productos-main__blockproducts__item col-md-6")
            h2 Exportación
            div(class="productos-main__blockproducts__item__items")
              div
                img(src="img/p3.png", alt="")
                h3 Chocolate Premiun
                p 70% Cacao Organico
              div
                img(src="img/p2.png", alt="")
                h3 Chocolate Premiun
                p 70% Cacao Organico
      div
        button ver mas productos
    section.l-container
      div
        div
          h2 Puntos de venta y entrega
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum libero recusandae quidem exercitationem optio repellendus reprehenderit deserunt perferendis? Saepe ratione nisi distinctio officiis expedita quo eligendi quae aliquid, mollitia dolore!
          h3 Paises consumidores
          div
            div
              li Canada
              li Usa
              li Mexico
            div
              li Brazil
              li Aregentina
              li Europa
            div
              li Rusia
              li Asia
              li Australia
          button ver lista

        div
          img(src="", alt="")
          h1 Img
    section.l-container
      div
        div
          div
            div
              span Mas de
              h2 1000
              span Clientes confian en Nosotros
            
            div
              img(src="", alt="")

        div
          h3 Conviertase en nuestro distribuidor
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum libero recusandae quidem exercitationem optio repellendus reprehenderit deserunt perferendis? Saepe ratione nisi distinctio officiis expedita quo eligendi quae aliquid, mollitia dolore!
          button contactanos
      div
          div
            h1 +9,668
            h4 Bosques Refortestados
          div
            h1 +1,000,000
            h4 Soles en proyectos realizados
          div
            h1 +2,000
            h4 Socios Beneficiados

    section
      div.l-container
        div(class="d-flex justify-content-between")
          div
            img(src="http://coffeeking.like-themes.com/wp-content/uploads/2017/09/restaurants.png", alt="")
          div
            img(src="http://coffeeking.like-themes.com/wp-content/uploads/2017/09/restaurants.png", alt="")
          div
            img(src="http://coffeeking.like-themes.com/wp-content/uploads/2017/09/restaurants.png", alt="")
          div
            img(src="http://coffeeking.like-themes.com/wp-content/uploads/2017/09/restaurants.png", alt="")
          div
            img(src="http://coffeeking.like-themes.com/wp-content/uploads/2017/09/restaurants.png", alt="")
        
        div
          div
            div(class="")
              h4(class="") Nuestros clientes dicen
              h2(class="") Testimonios
              span Gabriel Viza
              span 19/04/2018
              p(class="") And an even wittier subheading.
              i item
          div
            img(src="http://coffeeking.like-themes.com/wp-content/uploads/2017/09/coffe_back.png?id=2084", alt="")
          




