extends ../includes/template
block main
    section(class="slider-index-main")
      div(class="carousel slide" id="portadaindex" data-interval="2000" data-ride="carousel") 
        //ol(class="carousel-indicators")
          li(data-target="#portadaindex" data-slide-to="0" class="active")
          li(data-target="#portadaindex" data-slide-to="1")
          li(data-target="#portadaindex" data-slide-to="2")
 
        div(class="carousel-inner")
          div(class="carousel-item active")
            img(src="img/slider-01.jpg" alt="Los Angeles" width="100%" )
            div(class="carousel-caption")
              h3 Los Angeles
              p We had such a great time in LA
          div(class="carousel-item ")
            img(src="img/slider-02.jpg" alt="Los Angeles" width="100%" )
            div(class="carousel-caption")
              h3 Los Angeles
              p We had such a great time in LA
          div(class="carousel-item ")
            img(src="img/slider-03.jpg" alt="Los Angeles" width="100%" )
            div(class="carousel-caption")
              h3 Los Angeles
              p We had such a great time in LA
          
          a(class="carousel-control-prev" href="#portadaindex" role="button" data-slide="prev")
            span(class="carousel-control-prev-icon" aria-hidden="true")
            span(class="sr-only") Previous
  
          a(class="carousel-control-next" href="#portadaindex" role="button" data-slide="next")
            span(class="carousel-control-next-icon" aria-hidden="true") 
            span(class="sr-only") Next   
        div(class="border-slider")     
      div(class="slider-index-main__enlaces l-container")
        div(class="animated slideInLeft")
          h1 +2,000
          p Familias, socios de la cooperativa desde el año 1977, incluyendo los dos grupos étnicos (Nomatsiguengas y Asháninkas). 
<<<<<<< HEAD
        div(class="animated zoomIn")
          div
            a(href="" class="button primary") Chatea
              <i class="fa fa-whatsapp" aria-hidden="true"></i>
          p Recibe más información sobre nuestros productos directamente a tu Whatsapp y disfruta al máximo... 
          //a(href="") Contactanos...
        div(class="animated slideInRight")
=======
        div
          div
            a(href="" class="button primary") Chatea con Nosotros
              <i class="fa fa-whatsapp" aria-hidden="true"></i>
          p Recibe más información sobre nuestros productos directamente a tu Whatsapp y disfruta al máximo... 
          //a(href="") Contactanos...
        div
>>>>>>> bff2a53139bb66d0392187d125855e7ca40a8c51
          h1 +1,000 00
          p De árboles reforestados con diversos proyectos, beneficiando a los socios de la Cooperativa.
    section(class="productos-main l-container")
      div(class="productos-main__blocktitle")
        div(class="productos-main__blocktitle__title")
          span PRODUCTOS
          h1 Productos Destacados
     
      div(class="productos-main__blockproducts")
          div(class="productos-main__blockproducts__item col-md-6")        
            div(class="productos-main__blockproducts__item__items")
              div
                a(href="")
                  img(src="img/productos/01-cacao-en-polvo-300g.jpg", alt="")
                  h3 Cacao en Polvo 
                  p 40% Cacao Organico
                  spam producto de exportacion
                  
                

              div
                a(href="")
                  img(src="img/productos/00-cacao-en-granos-de-exportación.png", alt="")
                  h3 Cacao en Grano
                  p 100% Cacao Organico
                  spam producto de exportacion
              div
                a(href="")
                  img(src="img/productos/05-premium-coffee-250g.jpg", alt="")
                  h3 Café Premiun
                  p 100% Cacao Organico
                  span venta nacional
              div
                a(href="")
                  img(src="img/productos/15-chocolate-premium-70.jpg", alt="")
                  h3 Chocolates Premiun
                  p 100% Cacao Organico
                  span venta nacional
              div
                a(href="")
                  img(src="img/productos/02-miel-de-abeja-1kg.jpg", alt="")
                  h3 Miel de Abeja
                  p 100% Cacao Organico
                  span venta nacional
      div(class="productos-main__button")
        a(class="button primary") Mas productos
          <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
<<<<<<< HEAD
   
    
    section(class="historiaindex-main")
      div(class="historiaindex animated slideInRight l-container")
        h1 ¿Quienes Somos?
        p La Cooperativa Agraria Cafetalera Pangoa fue fundada el 02 de octubre de 1977 por iniciativa de 50 socios productores de café, con el objetivo de mejorar el precio de sus productos; desde entonces cumple una ardua labor cooperativista y solidaria frente a la necesidad colectiva de sus miembros y la comunidad en general.  
        p Su principal actividad es el acopio y comercialización del café y cacao con certificado orgánico, convencional y Comercio Justo de sus asociados; desde el año 2002 incursionamos en la producción de miel de abeja, cumpliendo estrictos cuidados que garantizan la calidad del producto y excelente calidad de servicio al cliente.  
        p En la actualidad la cooperativa cuenta con 680 socios agricultores, es una organización sólida con reconocimiento nacional e internacional, gracias al esfuerzo continuo de sus asociados y a la eficiente labor que desempeña el equipo de profesionales, técnicos y administrativos.
      div(class="historiaindex-button")
        a(class="button") Sobre Nosotros
          <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>      

    
=======
>>>>>>> bff2a53139bb66d0392187d125855e7ca40a8c51
    section(class="nosotros-main l-container")
      //div(class="nosotros-main__info")
        h3 Cooperativa Agraria
        h1 Cafetelera Pangoa
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo optio aliquam delectus, enim reiciendis dolorem ullam error unde, corrupti fugit dignissimos est laborum. Vel ullam illum, at harum est aperiam.
        span Pangoa, Descubre nuestra historia...
      
      //div(class="nosotros-main__service")
        div(class="nosotros-main__service__items")
          div(class="nosotros-main__service__items__item")
            img(src="img/icon/icon-1.png", alt="")
            h2 Cosecha
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore vitae id magnam aliquid quidem! Minima cum culpa, aliquam sequi delectus repellat optio facilis vero eos tempora pariatur autem commodi voluptatum?
          div(class="nosotros-main__service__items__item")
            img(src="img/icon/icon-3.png", alt="")
            h2 Producción
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore vitae id magnam aliquid quidem! Minima cum culpa, aliquam sequi delectus repellat optio facilis vero eos tempora pariatur autem commodi voluptatum?

          div(class="nosotros-main__service__items__item")
            img(src="img/icon/icon-2.png", alt="")
            h2 Venta
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore vitae id magnam aliquid quidem! Minima cum culpa, aliquam sequi delectus repellat optio facilis vero eos tempora pariatur autem commodi voluptatum? 
           
          div(class="nosotros-main__service__items__item")
            img(src="img/icon/icon-4.png", alt="")
            h2 Exportación
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore vitae id magnam aliquid quidem! Minima cum culpa, aliquam sequi delectus repellat optio facilis vero eos tempora pariatur autem commodi voluptatum?
    
    
        
    include ../includes/puntos-ventas.pug 
        
    section(class="clientes-main ")
      div(class="clientes-main__distribuidor l-container")
        div(class="clientes-main__distribuidor__slogan")
          h3 Mas de
          h1 1000
          h2 Clientes confian en Nosotros
        div(class="clientes-main__distribuidor__contactanos")
          h3 Conviertase en nuestro distribuidor
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum libero recusandae quidem exercitationem optio repellendus reprehenderit deserunt perferendis? Saepe ratione nisi distinctio officiis expedita quo eligendi quae aliquid, mollitia dolore!
          a(class="button primary") Contactanos
      //div(class="clientes-main__numeros")
        div(class="clientes-main__numeros__main l-container")
          div
            h1 +9,668
            h4 Bosques Refortestados
          div
            h1 +1,000,000
            h4 Soles en proyectos realizados
          div
            h1 +2,000
            h4 Socios Beneficiados

    section(class="testimonios-main")
      div(class="testimonios-main__content l-container")
        div(class="testimonios-main__content__socios")
          div
            img(src="img/socio-3.png", alt="")
          div
            img(src="img/socio-4.png", alt="")
          div
            img(src="img/socio-5.png", alt="")
          div
            img(src="img/socio-2.png", alt="")
          div
            img(src="img/socio-1.png", alt="")      
        div(class="testimonios-main__content__testigos")
          div(class="testimonios-main__content__testigos__datos")
            div
              h4 Nuestros clientes dicen
              h2 Testimonios
              span Gabriel Viza
              br
              span 19/04/2018
              p(class="") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..
              i(class="icon-quotes-right")
          div(class="testimonios-main__content__testigos__img")
            img(src="img/testimonios.png", alt="")
          




