extends ../includes/template
block main
    section.container
      .row
        h3 Cooperativa Agraria
        h2 Cafetelera Pangoa
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo optio aliquam delectus, enim reiciendis dolorem ullam error unde, corrupti fugit dignissimos est laborum. Vel ullam illum, at harum est aperiam.
        span Pangoa, Descubre nuestra historia
      .row
        div
          div
            img(src="", alt="")
            h2 Cosecha
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore vitae id magnam aliquid quidem! Minima cum culpa, aliquam sequi delectus repellat optio facilis vero eos tempora pariatur autem commodi voluptatum?
          div
            img(src="", alt="")
            h2 Venta
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore vitae id magnam aliquid quidem! Minima cum culpa, aliquam sequi delectus repellat optio facilis vero eos tempora pariatur autem commodi voluptatum? 
          div
            img(src="", alt="")
            h2 Producción
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore vitae id magnam aliquid quidem! Minima cum culpa, aliquam sequi delectus repellat optio facilis vero eos tempora pariatur autem commodi voluptatum?
          div
            img(src="", alt="")
            h2 Exportación
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore vitae id magnam aliquid quidem! Minima cum culpa, aliquam sequi delectus repellat optio facilis vero eos tempora pariatur autem commodi voluptatum?
    section.container
      .row
        div
          span PRODUCTOS
          h1 Productos
      .row
          div(class="col-md-6")
            h2 Nacionales
            div
              div
                img(src="", alt="")
                h3 Chocolate Premiun
                p 70% Cacao Organico
              div
                img(src="", alt="")
                h3 Chocolate Premiun
                p 70% Cacao Organico
          div(class="col-md-6")
            h2 Exportación
            div
              div
                img(src="", alt="")
                h3 Chocolate Premiun
                p 70% Cacao Organico
              div
                img(src="", alt="")
                h3 Chocolate Premiun
                p 70% Cacao Organico
      .row
        button ver mas productos
    section.container
      .row
        div(class="col-md-6")
          h2 Puntos de venta y entrega
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum libero recusandae quidem exercitationem optio repellendus reprehenderit deserunt perferendis? Saepe ratione nisi distinctio officiis expedita quo eligendi quae aliquid, mollitia dolore!
          h3 Paises consumidores
          div
            div
              li Canada
              li Usa
              li Mexico
            div
              li Brazil
              li Aregentina
              li Europa
            div
              li Rusia
              li Asia
              li Australia
          button ver lista

        div(class="col-md-6")
          img(src="", alt="")
          h1 Img
    section.container
      .row
        div(class="col-md-6")
          .row
            div
              span Mas de
              h2 1000
              span Clientes confian en Nosotros
            
            div
              img(src="", alt="")

        div(class="col-md-6")
          h3 Conviertase en nuestro distribuidor
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum libero recusandae quidem exercitationem optio repellendus reprehenderit deserunt perferendis? Saepe ratione nisi distinctio officiis expedita quo eligendi quae aliquid, mollitia dolore!
          button contactanos
      .row
          div(class="col-md-4")
            h1 +9,668
            h4 Bosques Refortestados
          div(class="col-md-4")
            h1 +1,000,000
            h4 Soles en proyectos realizados
          div(class="col-md-4")
            h1 +2,000
            h4 Socios Beneficiados

    section
      div.container
        div(class="d-flex justify-content-between")
          div
            img(src="http://coffeeking.like-themes.com/wp-content/uploads/2017/09/restaurants.png", alt="")
          div
            img(src="http://coffeeking.like-themes.com/wp-content/uploads/2017/09/restaurants.png", alt="")
          div
            img(src="http://coffeeking.like-themes.com/wp-content/uploads/2017/09/restaurants.png", alt="")
          div
            img(src="http://coffeeking.like-themes.com/wp-content/uploads/2017/09/restaurants.png", alt="")
          div
            img(src="http://coffeeking.like-themes.com/wp-content/uploads/2017/09/restaurants.png", alt="")
        
        div(class="row")
          div(class="col-md-6")
            div(class="")
              h4(class="") Nuestros clientes dicen
              h2(class="") Testimonios
              span Gabriel Viza
              span 19/04/2018
              p(class="") And an even wittier subheading.
              i item
          div(class="col-md-6")
            img(src="http://coffeeking.like-themes.com/wp-content/uploads/2017/09/coffe_back.png?id=2084", alt="")
          




