extends ../includes/template
block main
    section(class="nosotros-main l-container")
      div(class="nosotros-main__info")
        h3 Cooperativa Agraria
        h1 Cafetelera Pangoa
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo optio aliquam delectus, enim reiciendis dolorem ullam error unde, corrupti fugit dignissimos est laborum. Vel ullam illum, at harum est aperiam.
        span Pangoa, Descubre nuestra historia...
      div(class="nosotros-main__service")
        div(class="nosotros-main__service__items")
          div(class="nosotros-main__service__items__item")
            img(src="img/icon/icon-1.png", alt="")
            h2 Cosecha
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore vitae id magnam aliquid quidem! Minima cum culpa, aliquam sequi delectus repellat optio facilis vero eos tempora pariatur autem commodi voluptatum?
          div(class="nosotros-main__service__items__item")
            img(src="img/icon/icon-2.png", alt="")
            h2 Venta
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore vitae id magnam aliquid quidem! Minima cum culpa, aliquam sequi delectus repellat optio facilis vero eos tempora pariatur autem commodi voluptatum? 
        div(class="nosotros-main__service__items")
          div(class="nosotros-main__service__items__item")
            img(src="img/icon/icon-3.png", alt="")
            h2 Producción
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore vitae id magnam aliquid quidem! Minima cum culpa, aliquam sequi delectus repellat optio facilis vero eos tempora pariatur autem commodi voluptatum?
          div(class="nosotros-main__service__items__item")
            img(src="img/icon/icon-4.png", alt="")
            h2 Exportación
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore vitae id magnam aliquid quidem! Minima cum culpa, aliquam sequi delectus repellat optio facilis vero eos tempora pariatur autem commodi voluptatum?
    
    section(class="productos-main l-container")
      div(class="productos-main__blocktitle")
        div(class="productos-main__blocktitle__title")
          span PRODUCTOS
          h1 Productos
      div(class="productos-main__blockproducts")
          div(class="productos-main__blockproducts__item col-md-6")
            h2 Nacionales
            div(class="productos-main__blockproducts__item__items")
              div
                img(src="img/p3.png", alt="")
                h3 Chocolate Premiun
                p 70% Cacao Organico
              div
                img(src="img/p2.png", alt="")
                h3 Chocolate Premiun
                p 70% Cacao Organico
          div(class="productos-main__blockproducts__item col-md-6")
            h2 Exportación
            div(class="productos-main__blockproducts__item__items")
              div
                img(src="img/p3.png", alt="")
                h3 Chocolate Premiun
                p 70% Cacao Organico
              div
                img(src="img/p2.png", alt="")
                h3 Chocolate Premiun
                p 70% Cacao Organico
      div(class="productos-main__button")
        a(class="button primary") Mas productos
    section(class="puntosventas-main l-container")
      div(class="puntosventas-main__items")
        div(class="puntosventas-main__items__item")
          h2 Puntos de venta y entrega
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum libero recusandae quidem exercitationem optio repellendus reprehenderit deserunt perferendis? Saepe ratione nisi distinctio officiis expedita quo eligendi quae aliquid, mollitia dolore!
          h3 Paises consumidores
          div(class="puntosventas-main__items__item__paises")
            div
              li
               i(class="icon-play3")  Canada
              li 
               i(class="icon-play3")  Usa
              li 
               i(class="icon-play3")  Mexico
            div
              li 
               i(class="icon-play3")  Brazil
              li 
               i(class="icon-play3")  Aregentina
              li 
               i(class="icon-play3")  Europa
            div
              li 
               i(class="icon-play3")  Rusia
              li 
               i(class="icon-play3")  Asia
              li 
               i(class="icon-play3")  Australia
         
          a(class="button primary") Ver lista

        div(class="puntosventas-main__items__item")
          img(src="img/map.png", alt="")
        
    section(class="clientes-main ")
      div(class="clientes-main__distribuidor l-container")
        div(class="clientes-main__distribuidor__slogan")
          h3 Mas de
          h1 1000
          h2 Clientes confian en Nosotros
        div(class="clientes-main__distribuidor__contactanos")
          h3 Conviertase en nuestro distribuidor
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum libero recusandae quidem exercitationem optio repellendus reprehenderit deserunt perferendis? Saepe ratione nisi distinctio officiis expedita quo eligendi quae aliquid, mollitia dolore!
          a(class="button primary") Contactanos
      div(class="clientes-main__numeros")
        div(class="clientes-main__numeros__main l-container")
          div
            h1 +9,668
            h4 Bosques Refortestados
          div
            h1 +1,000,000
            h4 Soles en proyectos realizados
          div
            h1 +2,000
            h4 Socios Beneficiados

    section(class="testimonios-main")
      div(class="testimonios-main__content")
        div(class="testimonios-main__content__socios")
          div
            img(src="../img/socio-1.png", alt="")
          div
            img(src="../img/socio-2.png", alt="")
          div
            img(src="../img/socio-3.png", alt="")
          div
            img(src="../img/socio-4.png", alt="")
          div
            img(src="../img/socio-5.png", alt="")
          div
            img(src="../img/socio-5.png", alt="")

        div(class="testimonios-main__content__testigos")
          div(class="testimonios-main__content__testigos__datos")
            div
              h4 Nuestros clientes dicen
              h2 Testimonios
              span Gabriel Viza
              br
              span 19/04/2018
              p(class="") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..
              i(class="icon-quotes-right")
          div(class="testimonios-main__content__testigos__img")
            img(src="../img/testimonios.png", alt="")
          




