extends ../includes/template
block main
  section(class="headabout")
    div(class="headabout__main  l-container")
      h1 Nosotros
      ul
        li 
          a(href="") Inicio / 
        li 
          a(href="") Nosotros
    div(class="border-cafe")
  section(class="historia-main l-container")
      div(class="historia-main__info")
        h3 Cooperativa Agraria
        h1 Cafetelera Pangoa
        p Existe un pueblo solidario de tierras fértiles, cuyas familias siembran, cosechan y seleccionan los más finos granos con pasión y esmero para producir un café y cacao de sabor inigualable. 
        p Hoy este pueblo, agradecido con la Madre Tierra, comparte su más preciado “tesoro” a todas las personas que esperan disfrutar de un fascinante café y cacao orgánico.  Pangoa, descubre nuestra historia...
      div(class="historia-main__video")
        a(href="")
          img(src="img/video-about.jpg", alt="")
 

  section(class="foda-main l-container")
    div(class="foda-main__item")
      img(src="img/icon/icon-1.png", alt="")
      h1 Visión 
      p Cooperativa líder exportadora competitiva con producción orgánica y en conversión, sostenible con valor agregado y desarrollo socio-económico de sus asociados, rescatando y respetando sus costumbres y tradiciones culturales.
    div(class="foda-main__item")
      img(src="img/icon/icon-2.png", alt="")
      h1 Mision
      p Promover el desarrollo integral de sus asociados y su familia a través de la formación solidaria, adecuado suministro de servicio y eficiente gestión comercial y empresarial.
    div(class="foda-main__item")
      img(src="img/icon/icon-3.png", alt="")
      h1 Objetivo
      p Nuestro objetivo es fortalecernos como organización, a fin de mejorar nuestros ingresos económicos, elevar el estándar de vida de cada uno de nuestros integrantes e impulsar el desarrollo cooperativo.
    //div(class="foda-main__item")
      img(src="img/icon/icon-4.png", alt="")
      h1 Principios
      p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi ipsam est cum molestias dolor voluptate, porro dignissimos cumque delectus omnis consequatur enim laudantium nisi soluta explicabo! Amet natus fuga ut.
  
  section(class="history-main l-container")
    h1 Nuestra Historia
    div(class="descripcion")
      div
        p Pangoa es uno de los distritos de la Provincia de Satipo, departamento de Junín, cuya área territorial es de 6,197.41 Km.2, fue creado como tal un 26 de marzo de 1965 alcanzando actualmente más de 150 anexos, 36 comunidades Nativas convirtiéndose en un Distrito Prospero e Importante a nivel de la Selva Central. A lo largo de la Historia, Pangoa se ha caracterizado de ser extenso geográficamente y políticamente cuya extensión a causado ingentes problemas y necesidades de superación, es allí donde empieza a gestarse un proyecto ambicioso y grande que posteriormente sería orgullo de la Cooperativa Agraria Cafetalera Satipo.  En el año 1977 un 2 de octubre un grupo de agricultores caficultores que pertenecían a la Cooperativa Satipo se reunieron, en la que estudiaron la conveniencia de formar una Cooperativa Cafetalera en la propia zona del Distrito de Pangoa. Como toda organización necesitaba empeño, empuje, insistencia, unión y muchas ganas de concretizar, el grupo de hombres decididos de lograr cuyo propósito persistían en reuniones tras reuniones.
      div 
        p hasta que por fin se logra formar el Comité Organizador recayendo los cargos en este puñado de hombres agricultores como don Florentino Apolinario Julcarima, Mariño Narváez Soto, Roberto Ignacio Villasana, Eulalio Martínez Huaman, Toribio Meza Valero, Apolonio Sánchez Torres, y otros pioneros más. La tarea era ardua, difícil pero no imposible, las obligaciones ya habían empezado, pues empezaron a andar el proyecto, para lo cual deberían de cumplir con toda las disposiciones y requisitos contemplados en la Ley General de Cooperativas y el Reglamento expedido por Decreto Supremo No 240-69-AP que normaba la organización, Constitución y funcionamiento de las Cooperativas. Los fundadores de la Cooperativa decididos a consolidar el anhelo más grande, caminaron juntos para hoy ver una cooperativa próspera que vienen superando paulatinamente los problemas con el único propósito de respaldar y proteger a sus socios sin ningún apoyo del gobierno, hoy, se sienten orgullosos de su organización, así mismo estos valerosos hombres fundadores hoy son recordados y admirados.
  
  section(class="filosofia-main l-container")
    h1 Filosofía de calidad de la organización y de los productos de exportación
    div(class="descripcion")
      div
        p Nuestras producciones son elaboradas en base a los estándares más exigentes de calidad, la misma que se cuida en cada proceso; desde la selección de la semilla por variedades, producción de plantones, instalación a campo definitivo, labores culturales (deshierbo, fertilización, podas, deschuponado, control de plagas, y control de enfermedades).  Se realiza una cosecha selectiva, fermentación adecuada, secado con secadores solares, almacenamiento adecuado, donde finalmente se tiene como resultado un buen producto de alta calidad producido por un productor de calidad, con certificación orgánica y comercio justo.
      div(class="back-photo") 
       
        //img(src="img/selva-5.jpeg", alt="")

  section(class="team-main") 
    div(class="team-main__content")
      div(class="team-main__content__info")
        h3 Nuestro
        h1 Equipo CAC Pangoa
      div(class="team-main__content__team")
        div(class="tarjeta-wrap")
          div(class="tarjeta")
            div(class="adelante")
              img(src="img/users/01-Esperanza-Dionisio.jpg", alt="")
            div(class="atras")
              h3 Gerente General
              p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta odit animi qui aspernatur? Quasi dolorum molestias sit asperiores eos quod culpa, eaque, laudantium repellendus delectus repudiandae similique quos provident? Harum! lorem
          div(class="name")
            h1 Esperana Dionisio
        div(class="tarjeta-wrap")
          div(class="tarjeta")
            div(class="adelante")
              img(src="img/users/02-Presidente.jpg", alt="")
            div(class="atras")
              h3 Gerente
              p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta odit animi qui aspernatur? Quasi dolorum molestias sit asperiores eos quod culpa, eaque, laudantium repellendus delectus repudiandae similique quos provident? Harum!
          div(class="name")
            h1 Presidente
        div(class="tarjeta-wrap")
          div(class="tarjeta")
            div(class="adelante")
              img(src="img/users/03-Albino.jpg", alt="")
            div(class="atras")
              h3 Gerente Comercial
              p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta odit animi qui aspernatur? Quasi dolorum molestias sit asperiores eos quod culpa, eaque, laudantium repellendus delectus repudiandae similique quos provident? Harum!
          div(class="name")
            h1 Albino Nuñez
        div(class="tarjeta-wrap")
          div(class="tarjeta")
            div(class="adelante")
              img(src="img/users/04-Miguel-Quispe.jpg", alt="")
            div(class="atras")
              h3 Gerente Operativo
              p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta odit animi qui aspernatur? Quasi dolorum molestias sit asperiores eos quod culpa, eaque, laudantium repellendus delectus repudiandae similique quos provident? Harum!  
          div(class="name")
            h1 Miguel Quispe
        div(class="tarjeta-wrap")
          div(class="tarjeta")
            div(class="adelante")
              img(src="img/users/05-Virgilio.jpg", alt="")
            div(class="atras")
              h3 Venta Nacional
              p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta odit animi qui aspernatur? Quasi dolorum molestias sit asperiores eos quod culpa, eaque, laudantium repellendus delectus repudiandae similique quos provident? Harum!  
          div(class="name")
            h1 Virgilio Garcia
        div(class="tarjeta-wrap")
          div(class="tarjeta")
            div(class="adelante")
              img(src="img/users/06-Secretario.jpg", alt="")
            div(class="atras")
              h3 Secretario 
              p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta odit animi qui aspernatur? Quasi dolorum molestias sit asperiores eos quod culpa, eaque, laudantium repellendus delectus repudiandae similique quos provident? Harum!  
          div(class="name")
            h1 Secretario  
  //section(class="team-main") 
    div(class="team-main__content l-container")
      div(class="team-main__content__info")
        h3 Nuestro
        h1 Equipo
      div(class="team-main__content__team")
        div(class="team-main__content__team__item")   
          div
            img(src="img/person-1.jpg", alt="")
          h1 Ronaldo Viza
          p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam, maxime! Odio non consequatur sit nesciunt facere libero dicta dignissimos rem quisquam illum tempore natus ullam porro deleniti adipisci, iure officiis?
          span Administrador
        div(class="team-main__content__team__item")   
          div
            img(src="img/person-2.jpg", alt="")
          h1 Ronaldo Viza
          p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam, maxime! Odio non consequatur sit nesciunt facere libero dicta dignissimos rem quisquam illum tempore natus ullam porro deleniti adipisci, iure officiis?
          span Administrador
        div(class="team-main__content__team__item")   
          div
            img(src="img/person-3.jpg", alt="")
          h1 Ronaldo Viza
          p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam, maxime! Odio non consequatur sit nesciunt facere libero dicta dignissimos rem quisquam illum tempore natus ullam porro deleniti adipisci, iure officiis?
          span Administrador
        div(class="team-main__content__team__item")   
          div
            img(src="img/person-4.jpg", alt="")
          h1 Ronaldo Viza
          p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam, maxime! Odio non consequatur sit nesciunt facere libero dicta dignissimos rem quisquam illum tempore natus ullam porro deleniti adipisci, iure officiis?
          span Administrador
  
  include ../includes/puntos-ventas.pug      

  section(class="clientes-main ")
    div(class="clientes-main__distribuidor l-container")
      div(class="clientes-main__distribuidor__slogan")
        h3 Mas de
        h1 1000
        h2 Clientes confian en Nosotros
      div(class="clientes-main__distribuidor__contactanos")
        h3 Conviertase en nuestro distribuidor
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum libero recusandae quidem exercitationem optio repellendus reprehenderit deserunt perferendis? Saepe ratione nisi distinctio officiis expedita quo eligendi quae aliquid, mollitia dolore! lorem
        a(class="button primary") Contactanos



       
    
