extends ../includes/template
block main
  section(class="headabout")
    div(class="headabout__main  l-container")
      h1 Nosotros
      ul
        li 
          a(href="") Inicio / 
        li 
          a(href="") Nosotros
    div(class="border-cafe")
  section(class="historia-main l-container")
      div(class="historia-main__info")
        h3 Cooperativa Agraria
        h1 Cafetelera Pangoa
        p San Martín de Pangoa es uno de los distritos de la Provincia de Satipo, departamento de Junín, cuya área territorial es de 6,197.41 Km.2, fue creado como tal un 26 de Marzo de 1965 alcanzando actualmente mas de 150 anexos, 36 comunidades Nativas convirtiéndose en un Distrito Prospero e Importante a nivel de la Selva Central. A lo largo de la Historia , Pangoa se ha caracterizado de ser extenso geográficamente y políticamente cuya extensión a causado ingentes problemas y necesidades de superación, es allí donde empieza a gestarse un proyecto ambicioso y grande que posteriormente seria orgullo de los caficultores y patrimonio del Distrito.
      div(class="historia-main__video")
        a(href="")
          img(src="img/video-about.jpg", alt="")
        p "RESEÑA HISTORICA DE LA COOPERATIVA AGRARIA CAFETALERA PANGOA"

  section(class="foda-main l-container")
    div(class="foda-main__item")
      img(src="img/icon/icon-1.png", alt="")
      h1 Valores
      p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi ipsam est cum molestias dolor voluptate, porro dignissimos cumque delectus omnis consequatur enim laudantium nisi soluta explicabo! Amet natus fuga ut.
    div(class="foda-main__item")
      img(src="img/icon/icon-2.png", alt="")
      h1 Mision
      p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi ipsam est cum molestias dolor voluptate, porro dignissimos cumque delectus omnis consequatur enim laudantium nisi soluta explicabo! Amet natus fuga ut.
    div(class="foda-main__item")
      img(src="img/icon/icon-3.png", alt="")
      h1 Vision
      p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi ipsam est cum molestias dolor voluptate, porro dignissimos cumque delectus omnis consequatur enim laudantium nisi soluta explicabo! Amet natus fuga ut.
    div(class="foda-main__item")
      img(src="img/icon/icon-4.png", alt="")
      h1 Principios
      p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi ipsam est cum molestias dolor voluptate, porro dignissimos cumque delectus omnis consequatur enim laudantium nisi soluta explicabo! Amet natus fuga ut.
  
  section(class="team-main") 
    div(class="team-main__content l-container")
      div(class="team-main__content__info")
        h3 Nuestro
        h1 Equipo
      div(class="team-main__content__team")
        div(class="team-main__content__team__item")   
          div
            img(src="img/person-1.jpg", alt="")
          h1 Ronaldo Viza
          p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam, maxime! Odio non consequatur sit nesciunt facere libero dicta dignissimos rem quisquam illum tempore natus ullam porro deleniti adipisci, iure officiis?
          span Administrador
        div(class="team-main__content__team__item")   
          div
            img(src="img/person-2.jpg", alt="")
          h1 Ronaldo Viza
          p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam, maxime! Odio non consequatur sit nesciunt facere libero dicta dignissimos rem quisquam illum tempore natus ullam porro deleniti adipisci, iure officiis?
          span Administrador
        div(class="team-main__content__team__item")   
          div
            img(src="img/person-3.jpg", alt="")
          h1 Ronaldo Viza
          p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam, maxime! Odio non consequatur sit nesciunt facere libero dicta dignissimos rem quisquam illum tempore natus ullam porro deleniti adipisci, iure officiis?
          span Administrador
        div(class="team-main__content__team__item")   
          div
            img(src="img/person-4.jpg", alt="")
          h1 Ronaldo Viza
          p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam, maxime! Odio non consequatur sit nesciunt facere libero dicta dignissimos rem quisquam illum tempore natus ullam porro deleniti adipisci, iure officiis?
          span Administrador
  
  include ../includes/puntos-ventas.pug      

  section(class="clientes-main ")
    div(class="clientes-main__distribuidor l-container")
      div(class="clientes-main__distribuidor__slogan")
        h3 Mas de
        h1 1000
        h2 Clientes confian en Nosotros
      div(class="clientes-main__distribuidor__contactanos")
        h3 Conviertase en nuestro distribuidor
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum libero recusandae quidem exercitationem optio repellendus reprehenderit deserunt perferendis? Saepe ratione nisi distinctio officiis expedita quo eligendi quae aliquid, mollitia dolore!
        a(class="button primary") Contactanos



       
    
