extends ../includes/template
block main
  section(class="headabout")
    div(class="headabout__main  l-container")
      h1 Productos
      ul
        li 
          a(href="") Inicio / 
        li 
          a(href="") Producto /
        li 
          a(href="") Nacionales /
        li 
          a(href="") Chocolate Premiun   
    div(class="border-cafe")

  
  section(class="producto-main")
   
    div(class="producto-main__productos")
      div(class="producto-main__productos__info")
        span Resultados de busquedad
      div(class="producto-main__productos__item")
        ul(class="producto-main__productos__item__content")
          li(class="producto-main__productos__item__content__items")
            a(href="")
              img(src="img/producto-1.jpg", alt="")
            a(href="")  
              h1 American Black Coffee
            p Duis et aliquam orci. Vivamus augue quam 
            div 
              span S/5.00
              a(class="btnproducto primary") Ver Detalle
          li(class="producto-main__productos__item__content__items")
            a(href="")
              img(src="img/producto-1.jpg", alt="")
            a(href="")  
              h1 American Black Coffee
            p Duis et aliquam orci. Vivamus augue quam 
            div 
              span S/5.00
              a(class="btnproducto primary") Ver Detalle
          li(class="producto-main__productos__item__content__items")
            a(href="")
              img(src="img/producto-1.jpg", alt="")
            a(href="")  
              h1 American Black Coffee
            p Duis et aliquam orci. Vivamus augue quam 
            div 
              span S/5.00
              a(class="btnproducto primary") Ver Detalle
          li(class="producto-main__productos__item__content__items")
            a(href="")
              img(src="img/producto-1.jpg", alt="")
            a(href="")  
              h1 American Black Coffee
            p Duis et aliquam orci. Vivamus augue quam 
            div 
              span S/5.00
              a(class="btnproducto primary") Ver Detalle
          li(class="producto-main__productos__item__content__items")
            a(href="")
              img(src="img/producto-1.jpg", alt="")
            a(href="")  
              h1 American Black Coffee
            p Duis et aliquam orci. Vivamus augue quam 
            div 
              span S/5.00
              a(class="btnproducto primary") Ver Detalle
          li(class="producto-main__productos__item__content__items")
            a(href="")
              img(src="img/producto-1.jpg", alt="")
            a(href="")  
              h1 American Black Coffee
            p Duis et aliquam orci. Vivamus augue quam 
            div 
              span S/5.00
              a(class="btnproducto primary") Ver Detalle
          li(class="producto-main__productos__item__content__items")
            a(href="")
              img(src="img/producto-1.jpg", alt="")
            a(href="")  
              h1 American Black Coffee
            p Duis et aliquam orci. Vivamus augue quam 
            div 
              span S/5.00
              a(class="btnproducto primary") Ver Detalle
          li(class="producto-main__productos__item__content__items")
            a(href="")
              img(src="img/producto-1.jpg", alt="")
            a(href="")  
              h1 American Black Coffee
            p Duis et aliquam orci. Vivamus augue quam 
            div 
              span S/5.00
              a(class="btnproducto primary") Ver Detalle
          li(class="producto-main__productos__item__content__items")
            a(href="")
              img(src="img/producto-1.jpg", alt="")
            a(href="")  
              h1 American Black Coffee
            p Duis et aliquam orci. Vivamus augue quam 
            div 
              span S/5.00
              a(class="btnproducto primary") Ver Detalle
          li(class="producto-main__productos__item__content__items")
            a(href="")
              img(src="img/producto-1.jpg", alt="")
            a(href="")  
              h1 American Black Coffee
            p Duis et aliquam orci. Vivamus augue quam 
            div 
              span S/5.00
              a(class="btnproducto primary") Ver Detalle

        <nav class="paginador-main" aria-label="...">
          <ul class="pagination">
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1">Anterior</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#">Siguiente</a>
            </li>

    
    div(class="producto-main__filtros")
      div(class="producto-main__filtros__categorias")
        div(class="categoria") 
          i(class="fa fa-coffee" aria-hidden="true") 
          h1(class="title") Categorias
        ul 
          li
            i(class="fa fa-chevron-right")          
            a(href="") Categoria 1
           
          li
            i(class="fa fa-chevron-right")       
            a(href="") Categoria 2
          li
            i(class="fa fa-chevron-right")     
            a(href="") Categoria 3
          li
            i(class="fa fa-chevron-right")     
            a(href="") Categoria 4
          li
            i(class="fa fa-chevron-right")         
            a(href="") Categoria 5
          li
            i(class="fa fa-chevron-right")         
            a(href="") Categoria 6

      div(class="producto-main__filtros__tags")
        div(class="tag") 
          i(class="fa fa-tags" aria-hidden="true") 
          h1(class="title") Tags
        div 
          a(href="") Categoria 
          a(href="") Categoria 
          a(href="") Categoria 
          a(href="") Categoria 
          a(href="") Categoria 
          a(href="") Categoria 
      div(class="producto-main__filtros__cotizador")
        h1 Cotizador          
