extends ../includes/template
block main
  section(class="headabout")
    div(class="headabout__main  l-container")
      h1 Productos
      ul
        li 
          a(href="") Inicio / 
        li 
          a(href="") Producto /
        li 
          a(href="") Nacionales /
        li 
          a(href="") Chocolate Premiun   
    div(class="border-cafe")

  
  section(class="producto-main")
   
    div(class="producto-main__productos")
      div(class="producto-main__productos__info")
        span Resultados de busquedad
      div(class="producto-main__productos__item")
        ul(class="producto-main__productos__item__content")
          li(class="producto-main__productos__item__content__items")
            a(href="")
              img(src="img/productos/01-cacao-en-polvo-300g.jpg", alt="")
            a(href="")  
              h1 Polvo de cacao
            p 100% torta de cacao pulverizado, sin ingredientes ni conservantes.El cacao es energético, protege el corazón por contener flavonoides...

            div 
              span S/5.00
              a(class="btnproducto primary") Ver Detalle
          li(class="producto-main__productos__item__content__items")
            a(href="")
              img(src="img/productos/02-miel-de-abeja-1kg.jpg", alt="")
            a(href="")  
              h1 Miel de Abeja 
            p Facilita la digestión y asimilación de otros alimentos, en el caso de los niños facilita la asimilación del Calcio y Magnesio...
            div 
              span S/5.00
              a(class="btnproducto primary") Ver Detalle
          li(class="producto-main__productos__item__content__items")
            a(href="")
              img(src="img/productos/03-polen-multifloral-250g.jpg", alt="")
            a(href="")  
              h1 Polen Multifloral
            p Es antioxidante, regulador de las funciones digestivas, ayuda en las dolencias respiratorias, mejora la visión y condiciones de la piel...
            div 
              span S/5.00
              a(class="btnproducto primary") Ver Detalle
          li(class="producto-main__productos__item__content__items")
            a(href="")
              img(src="img/productos/04-polvo-de-cacao-250g.jpg", alt="")
            a(href="")  
              h1 Polvo de cacao
            p 100% torta de cacao pulverizado, sin ingredientes ni conservantes.El cacao es energético, protege el corazón por contener flavonoides...
            div 
              span S/5.00
              a(class="btnproducto primary") Ver Detalle
          li(class="producto-main__productos__item__content__items")
            a(href="")
              img(src="img/productos/05-premium-coffee-250g.jpg", alt="")
            a(href="")  
              h1 Café Premiun
            p 100% torta de cacao pulverizado, sin ingredientes ni conservantes.El cacao es energético, protege el corazón por contener flavonoides...
            div 
              span S/5.00
              a(class="btnproducto primary") Ver Detalle
          li(class="producto-main__productos__item__content__items")
            a(href="")
              img(src="img/productos/06-warrior-arábica-500g.jpg", alt="")
            a(href="")  
              h1 Warrior Arábico 
            p Presentación de 500 gr en bolsas de papel Graf) Existe un pueblo solidario de Tierras fértiles, cuyas familias Siembran, cosechan...
            div 
              span S/5.00
              a(class="btnproducto primary") Ver Detalle
          li(class="producto-main__productos__item__content__items")
            a(href="")
              img(src="img/productos/07-pangoa-coffee-orgánico-225g.jpg", alt="")
            a(href="")  
              h1 Café Orgánico 
            p Presentación de 500 gr en bolsas de papel Graf) Existe un pueblo solidario de Tierras fértiles, cuyas familias Siembran, cosechan...
            div 
              span S/5.00
              a(class="btnproducto primary") Ver Detalle
          li(class="producto-main__productos__item__content__items")
            a(href="")
              img(src="img/productos/07-pangoa-coffee-orgánico-450g.jpg", alt="")
            a(href="")  
              h1 Café Orgánico 
            p Presentación de 500 gr en bolsas de papel Graf) Existe un pueblo solidario de Tierras fértiles, cuyas familias Siembran, cosechan...
            div 
              span S/5.00
              a(class="btnproducto primary") Ver Detalle
          li(class="producto-main__productos__item__content__items")
            a(href="")
              img(src="img/productos/08-tzinchiri.jpg", alt="")
            a(href="")  
              h1 Licor de Café
            p Presentación de 500ml en botella de papel Graf) Existe un pueblo solidario de Tierras fértiles, cuyas familias Siembran, cosechan...
            div 
              span S/5.00
              a(class="btnproducto primary") Ver Detalle
          li(class="producto-main__productos__item__content__items")
            a(href="")
              img(src="img/productos/09-vino-de-miel.jpg", alt="")
            a(href="")  
              h1 Vino de Miel
            p Presentación de 500ml en botella de papel Graf) Existe un pueblo solidario de Tierras fértiles, cuyas familias Siembran, cosechan...
            div 
              span S/5.00
              a(class="btnproducto primary") Ver Detalle
          li(class="producto-main__productos__item__content__items")
            a(href="")
              img(src="img/productos/10-chocolate-pangoa-40.jpg", alt="")
            a(href="")  
              h1 Chocolate 40%
            p Presentación de 500 gr en bolsas de papel Graf) Existe un pueblo solidario de Tierras fértiles, cuyas familias Siembran, cosechan...
            div 
              span S/5.00
              a(class="btnproducto primary") Ver Detalle
          li(class="producto-main__productos__item__content__items")
            a(href="")
              img(src="img/productos/11-chocolate-pangoa-100.jpg", alt="")
            a(href="")  
              h1 Chocolate 100%
            p Presentación de 500 gr en bolsas de papel Graf) Existe un pueblo solidario de Tierras fértiles, cuyas familias Siembran, cosechan...
            div 
              span S/5.00
              a(class="btnproducto primary") Ver Detalle

          li(class="producto-main__productos__item__content__items")
            a(href="")
              img(src="img/productos/12-chocolate-pangoa-70.jpg", alt="")
            a(href="")  
              h1 Chocolate 70%
            p Presentación de 500 gr en bolsas de papel Graf) Existe un pueblo solidario de Tierras fértiles, cuyas familias Siembran, cosechan...
            div 
              span S/5.00
              a(class="btnproducto primary") Ver Detalle
          li(class="producto-main__productos__item__content__items")
            a(href="")
              img(src="img/productos/13-chocolate-negro-70.jpg", alt="")
            a(href="")  
              h1 Chocolate Negro 70%
            p Presentación de 500 gr en bolsas de papel Graf) Existe un pueblo solidario de Tierras fértiles, cuyas familias Siembran, cosechan...
            div 
              span S/5.00
              a(class="btnproducto primary") Ver Detalle
          li(class="producto-main__productos__item__content__items")
            a(href="")
              img(src="img/productos/14-chocolate-premium-100.jpg", alt="")
            a(href="")  
              h1 Chocolate Premiun 100%
            p Presentación de 500 gr en bolsas de papel Graf) Existe un pueblo solidario de Tierras fértiles, cuyas familias Siembran, cosechan...
            div 
              span S/5.00
              a(class="btnproducto primary") Ver Detalle
<<<<<<< HEAD
          li(class="producto-main__productos__item__content__items")
            a(href="")
              img(src="img/productos/15-chocolate-premium-70.jpg", alt="")
            a(href="")  
              h1 Chocolate Premiun 70%
            p Presentación de 500 gr en bolsas de papel Graf) Existe un pueblo solidario de Tierras fértiles, cuyas familias Siembran, cosechan...
            div 
              span S/5.00
              a(class="btnproducto primary") Ver Detalle

=======
>>>>>>> 9530f1dc92c5611870998dc7785c24612ed9500b

        <nav class="paginador-main" aria-label="...">
          <ul class="pagination">
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1">Anterior</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#">Siguiente</a>
            </li>

    
    div(class="producto-main__filtros")
      div(class="producto-main__filtros__categorias")
        div(class="categoria") 
          i(class="fa fa-coffee" aria-hidden="true") 
          h1(class="title") Categorias
        ul 
          li
            i(class="fa fa-chevron-right")          
<<<<<<< HEAD
            a(href="") Cacao en Grano
           
          li
            i(class="fa fa-chevron-right")       
            a(href="") Café verde
          li
            i(class="fa fa-chevron-right")     
            a(href="") Manteca de cacao
          li
            i(class="fa fa-chevron-right")     
            a(href="") Polvo de cacao
          li
            i(class="fa fa-chevron-right")         
            a(href="") Café 
          li
            i(class="fa fa-chevron-right")         
            a(href="") Chocolates
          li
            i(class="fa fa-chevron-right")         
            a(href="") Polvo de Cacao
          li
            i(class="fa fa-chevron-right")         
            a(href="") Miel de Abeja
          li
            i(class="fa fa-chevron-right")         
            a(href="") licores
=======
            a(href="") Categoria 1
           
          li
            i(class="fa fa-chevron-right")       
            a(href="") Categoria 2
          li
            i(class="fa fa-chevron-right")     
            a(href="") Categoria 3
          li
            i(class="fa fa-chevron-right")     
            a(href="") Categoria 4
          li
            i(class="fa fa-chevron-right")         
            a(href="") Categoria 5
          li
            i(class="fa fa-chevron-right")         
            a(href="") Categoria 6

>>>>>>> 9530f1dc92c5611870998dc7785c24612ed9500b
      div(class="producto-main__filtros__tags")
        div(class="tag") 
          i(class="fa fa-tags" aria-hidden="true") 
          h1(class="title") Tags
        div 
          a(href="") Café 
          a(href="") Chocolate 
          a(href="") Novedad 
          a(href="") Exportacion 
          a(href="") Nacional 
          a(href="") Miel 
      div(class="producto-main__filtros__cotizador")
        h1 Cotizador          
