@charset "UTF-8";

*,:after,:before{
  box-sizing:border-box;
}

body{
  margin:0;
  font-family:"sans-serif";
}

@font-face{
  font-family:bold;
  src:url(../fuentes/Kanit/Kanit-Bold.ttf) format("truetype");
}

@font-face{
  font-family:light;
  src:url(../fuentes/Kanit/Kanit-Light.ttf) format("truetype");
}

@font-face{
  font-family:mediun;
  src:url(../fuentes/Kanit/Kanit-Medium.ttf) format("truetype");
}

@font-face{
  font-family:regular;
  src:url(../fuentes/Kanit/Kanit-Regular.ttf) format("truetype");
}

@font-face{
  font-family:icomoon;
  src:url(../icon/icomoon.eot?wgwy6n);
  src:url(../icon/icomoon.eot?wgwy6n#iefix) format("embedded-opentype"),url(../icon/icomoon.ttf?wgwy6n) format("truetype"),url(../icon/icomoon.woff?wgwy6n) format("woff"),url(../icon/icomoon.svg?wgwy6n#icomoon) format("svg");
  font-weight:400;
  font-style:normal;
}

[class*=" icon-"],[class^=icon-]{
  font-family:icomoon !important;
  speak:none;
  font-style:normal;
  font-weight:400;
  font-variant:normal;
  text-transform:none;
  line-height:1;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}

.icon-phone:before{
  content:"\e942";
}

.icon-location:before{
  content:"\e947";
}

.icon-mobile:before{
  content:"\e958";
}

.icon-quotes-right:before{
  content:"\e978";
}

.icon-menu:before{
  content:"\e9bd";
}

.icon-play3:before{
  content:"\ea1c";
}

.icon-circle-right:before{
  content:"\ea42";
}

.icon-circle-left:before{
  content:"\ea44";
}

.icon-paragraph-justify:before{
  content:"\ea7a";
}

.icon-mail2:before{
  content:"\ea84";
}

.icon-google-plus2:before{
  content:"\ea8c";
}

.icon-facebook2:before{
  content:"\ea91";
}

.icon-whatsapp:before{
  content:"\ea93";
}

.icon-twitter:before{
  content:"\ea96";
}

.icon-youtube:before{
  content:"\ea9d";
}

.icon-file-pdf:before{
  content:"\eadf";
}

.icon-file-word:before{
  content:"\eae1";
}

.icon-file-excel:before{
  content:"\eae2";
}

.cd-header__nav ul{
  font-family:bold,sans-serif;
  font-size:1em;
}

.cd-header__nav ul li a{
  transition:.25s ease-in-out;
  color:#44200e;
}

.cd-header__nav ul li a:hover{
  color:#c0aa83;
  transition:.25s ease-in-out;
}

.button{
  font-size:1.2em;
  transition:all .25s;
  font-family:bold,sans-serif;
}

.button.primary{
  background:#c0aa83;
  color:#242424;
  line-height:1.9em;
  padding:10px 40px;
  border:2px solid #c0aa83;
  transition:all .25s;
}

.button.primary:hover{
  border-color:#242424;
  background:transparent;
  color:#242424;
  transition:all .25s;
  text-decoration:none;
}

.button.secondary{
  background:#c0aa83;
  color:#242424;
  line-height:1.9em;
  padding:10px 40px;
  border:2px solid #c0aa83;
  transition:all .25s;
}

.button.secondary:hover{
  border-color:#242424;
  background:#f4f4f4;
  color:#242424;
  transition:all .25s;
  text-decoration:none;
}

.head-active{
  position:relative !important;
}

.nav-section{
  color:#44200e;
}

.nosotros-main{
  margin:0;
  padding:30px 0;
}

@media screen and (min-width:768px){
  .nosotros-main{
    margin:0;
    background:url(../img/about-index-img.png) no-repeat;
    background-attachment:fixed;
    background-size:100%;
    background-position:50%;
  }
}

@media screen and (min-width:1024px){
  .nosotros-main{
    display:-ms-grid;
    display:grid;
    -ms-grid-columns:1fr 1fr;
        grid-template-columns:1fr 1fr;
    grid-column-gap:2em;
    background-size:60%;
    background-position:20%;
    padding:50px 0;
  }
}

.nosotros-main__info{
  text-align:left;
  padding:20px 0;
}

@media screen and (min-width:768px){
  .nosotros-main__info{
    background-size:40%;
  }
}

@media screen and (min-width:1024px){
  .nosotros-main__info{
    text-align:left;
    background-size:90%;
  }
}

.nosotros-main__info h3{
  font-family:bold,sans-serif;
  color:#c0aa83;
  font-weight:700;
  font-size:1.2em;
  margin:0;
}

@media screen and (min-width:768px){
  .nosotros-main__info h3{
    font-size:2em;
  }
}

.nosotros-main__info h1{
  font-family:bold,sans-serif;
  color:#242424;
  font-weight:700;
  font-size:2em;
  margin:0;
}

@media screen and (min-width:768px){
  .nosotros-main__info h1{
    font-size:3.5em;
  }
}

.nosotros-main__info p{
  width:100%;
  font-family:regular,sans-serif;
  font-size:1em;
  font-weight:400;
  line-height:30px;
  color:#242424;
  margin:40px 0;
}

@media screen and (min-width:768px){
  .nosotros-main__info p{
    width:80%;
    font-size:1.3em;
    line-height:36px;
  }
}

.nosotros-main__info span{
  width:100%;
  text-align:center;
  font-family:bold,sans-serif;
  color:#242424;
  font-size:1.5em;
}

.nosotros-main__service__items{
  margin:20px 0;
  text-align:left;
}

@media screen and (min-width:768px){
  .nosotros-main__service__items{
    display:-ms-grid;
    display:grid;
    -ms-grid-columns:1fr 1fr;
        grid-template-columns:1fr 1fr;
    grid-column-gap:2em;
    text-align:left;
  }
}

.nosotros-main__service__items__item{
  margin-top:50px;
}

@media screen and (min-width:768px){
  .nosotros-main__service__items__item{
    margin-top:0;
  }
}

.nosotros-main__service__items__item h2{
  font-family:bold,sans-serif;
  color:#242424;
  font-weight:700;
  font-size:1.1em;
  margin:15px 0;
}

.nosotros-main__service__items__item p{
  font-family:light,sans-serif;
  color:#242424;
  font-size:1em;
  margin:0;
}

@media screen and (min-width:768px){
  .nosotros-main__service__items__item p{
    font-size:.9em;
  }
}

.productos-main__blocktitle{
  height:100px;
}

@media screen and (min-width:1024px){
  .productos-main__blocktitle{
    height:150px;
  }
}

.productos-main__blocktitle__title{
  text-align:center;
}

@media screen and (min-width:768px){
  .productos-main__blocktitle__title{
    position:absolute;
    left:0;
    right:0;
    display:block;
  }
}

.productos-main__blocktitle__title span{
  font-family:bold,sans-serif;
  color:#f4f4f4;
  opacity:.7;
  font-weight:700;
  font-size:6em;
  display:none;
}

@media screen and (min-width:768px){
  .productos-main__blocktitle__title span{
    position:absolute;
    left:0;
    right:0;
    display:block;
  }
}

@media screen and (min-width:1024px){
  .productos-main__blocktitle__title span{
    font-size:7em;
  }
}

.productos-main__blocktitle__title h1{
  font-family:bold,sans-serif;
  color:#44200e;
  font-weight:700;
  font-size:3em;
  margin:0;
}

@media screen and (min-width:768px){
  .productos-main__blocktitle__title h1{
    position:relative;
    top:40px;
  }
}

@media screen and (min-width:1024px){
  .productos-main__blocktitle__title h1{
    font-size:4em;
    top:50px;
  }
}

@media screen and (min-width:1024px){
  .productos-main__blockproducts{
    display:-ms-grid;
    display:grid;
    -ms-grid-columns:1fr 1fr;
        grid-template-columns:1fr 1fr;
  }
}

.productos-main__blockproducts__item{
  max-width:100%;
}

.productos-main__blockproducts__item h2{
  font-family:bold,sans-serif;
  color:#c0aa83;
  font-weight:700;
  font-size:1.5em;
}

@media screen and (min-width:1024px){
  .productos-main__blockproducts__item{
    text-align:center;
  }
}

@media screen and (min-width:768px){
  .productos-main__blockproducts__item__items{
    display:-ms-grid;
    display:grid;
    -ms-grid-columns:1fr 1fr;
        grid-template-columns:1fr 1fr;
    padding:0 0 40px;
  }
}

.productos-main__blockproducts__item__items div{
  text-align:center;
}

.productos-main__blockproducts__item__items div h3{
  font-family:bold,sans-serif;
  color:#44200e;
  font-weight:500;
  font-size:1.2em;
}

.productos-main__blockproducts__item__items div p{
  font-family:light,sans-serif;
  color:"regular";
  font-weight:600;
  font-size:1em;
}

.productos-main__button{
  width:100%;
  text-align:center;
}

.productos-main__button a{
  cursor:pointer;
}

.puntosventas-main{
  padding:50px 0;
}

@media screen and (min-width:1024px){
  .puntosventas-main__items{
    display:-ms-grid;
    display:grid;
    -ms-grid-columns:1fr 1fr;
        grid-template-columns:1fr 1fr;
  }
}

.puntosventas-main__items__item h2{
  font-family:bold,sans-serif;
  color:#242424;
  font-weight:700;
  font-size:2em;
  margin:0;
  line-height:1;
}

@media screen and (min-width:1024px){
  .puntosventas-main__items__item h2{
    font-size:3.5em;
  }
}

.puntosventas-main__items__item img{
  position:relative;
  top:50px;
}

.puntosventas-main__items__item p{
  font-family:light,sans-serif;
  color:#242424;
  font-size:1em;
  margin:20px 0 40px;
}

.puntosventas-main__items__item h3{
  font-family:bold,sans-serif;
  color:#c0aa83;
  font-size:1.5em;
  margin:0;
}

@media screen and (min-width:1024px){
  .puntosventas-main__items__item h3{
    font-size:2em;
  }
}

.puntosventas-main__items__item__paises{
  margin:20px 0;
}

@media screen and (min-width:768px){
  .puntosventas-main__items__item__paises{
    display:-ms-grid;
    display:grid;
    -ms-grid-columns:1fr 1fr 1fr;
        grid-template-columns:1fr 1fr 1fr;
  }
}

.puntosventas-main__items__item__paises div{
  font-family:bold,sans-serif;
  color:#242424;
  font-size:1.2em;
  font-weight:700;
  margin:10px 0;
}

.puntosventas-main__items__item__paises div li{
  list-style:none;
}

.puntosventas-main__items__item__paises div li i{
  font-weight:700;
}

.clientes-main__distribuidor{
  padding:50px 0 150px;
}

@media screen and (min-width:768px){
  .clientes-main__distribuidor{
    display:-ms-grid;
    display:grid;
    -ms-grid-columns:1fr 1fr;
        grid-template-columns:1fr 1fr;
    background:url(../img/coffee-cup.png) no-repeat;
    background-size:50%;
    background-position:20% 70%;
  }
}

@media screen and (min-width:1024px){
  .clientes-main__distribuidor{
    background-size:40%;
  }
}

.clientes-main__distribuidor__slogan{
  font-family:bold,sans-serif;
  line-height:1.1;
}

.clientes-main__distribuidor__slogan h2,.clientes-main__distribuidor__slogan h3{
  font-size:2em;
  color:#242424;
  margin:0;
  position:relative;
  top:20px;
}

@media screen and (min-width:1024px){
  .clientes-main__distribuidor__slogan h2,.clientes-main__distribuidor__slogan h3{
    font-size:3em;
  }
}

.clientes-main__distribuidor__slogan h1{
  font-size:6.5em;
  color:#c0aa83;
  margin:0;
}

@media screen and (min-width:1024px){
  .clientes-main__distribuidor__slogan h1{
    font-size:8em;
  }
}

.clientes-main__distribuidor__slogan h2{
  font-size:2em;
  color:#242424;
  margin:0;
  position:relative;
  top:-20px;
}

@media screen and (min-width:1024px){
  .clientes-main__distribuidor__slogan h2{
    width:60%;
  }
}

.clientes-main__distribuidor__contactanos h3{
  font-family:bold,sans-serif;
  font-size:1.5em;
  color:#242424;
  margin:30px 0 20px;
}

@media screen and (min-width:1024px){
  .clientes-main__distribuidor__contactanos h3{
    font-size:3em;
  }
}

.clientes-main__distribuidor__contactanos p{
  font-family:regular,sans-serif;
  font-size:1em;
  margin:10px 0 40px;
}

.clientes-main__numeros{
  background:#44200e;
  padding:100px 0;
  color:#c0aa83;
}

@media screen and (min-width:768px){
  .clientes-main__numeros{
    background:url(../img/parrallax-cafe-count.jpg) no-repeat;
    background-attachment:fixed;
    background-size:cover;
    background-position:50%;
    overflow:hidden;
  }
}

.clientes-main__numeros__main{
  text-align:center;
}

@media screen and (min-width:768px){
  .clientes-main__numeros__main{
    display:-ms-grid;
    display:grid;
    -ms-grid-columns:(1fr)[3];
        grid-template-columns:repeat(3,1fr);
  }
}

.clientes-main__numeros__main div{
  margin:50px 0;
  font-family:bold,sans-serif;
  color:#c0aa83;
}

.clientes-main__numeros__main div h1{
  font-weight:700;
  font-size:3em;
  margin:0;
}

.clientes-main__numeros__main div h4{
  font-family:light,sans-serif;
  margin:0;
  color:#f4f4f4;
  font-weight:500;
  font-size:1.2em;
}

.testimonios-main__content__socios{
  display:-ms-grid;
  display:grid;
}

@media screen and (min-width:768px){
  .testimonios-main__content__socios{
    -ms-grid-columns:(1fr)[3];
        grid-template-columns:repeat(3,1fr);
  }
}

@media screen and (min-width:1024px){
  .testimonios-main__content__socios{
    -ms-grid-columns:(1fr)[6];
        grid-template-columns:repeat(6,1fr);
    padding:50px 0;
  }
}

.testimonios-main__content__socios div{
  width:250px;
  height:250px;
  margin:0 auto;
}

@media screen and (min-width:768px){
  .testimonios-main__content__socios div{
    width:auto;
    height:auto;
    margin:0;
  }
}

.testimonios-main__content__testigos{
  overflow:hidden;
  display:-ms-grid;
  display:grid;
}

@media screen and (min-width:768px){
  .testimonios-main__content__testigos{
    -ms-grid-columns:(1fr)[2];
        grid-template-columns:repeat(2,1fr);
    padding:0 0 50px;
  }
}

.testimonios-main__content__testigos__datos{
  margin:0;
  background:url(../img/testimonials.png) no-repeat;
  background-size:80%;
  background-position:50%;
}

@media screen and (min-width:768px){
  .testimonios-main__content__testigos__datos{
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
  }
}

.testimonios-main__content__testigos__datos div{
  text-align:center;
}

.testimonios-main__content__testigos__datos div h4{
  font-family:bold,sans-serif;
  color:#c0aa83;
  font-weight:700;
  font-size:1.5em;
  margin:0;
}

@media screen and (min-width:1024px){
  .testimonios-main__content__testigos__datos div h4{
    font-size:2.5em;
  }
}

.testimonios-main__content__testigos__datos div h2{
  font-family:bold,sans-serif;
  color:#44200e;
  font-weight:700;
  font-size:2em;
  margin:0;
}

@media screen and (min-width:1024px){
  .testimonios-main__content__testigos__datos div h2{
    font-size:3.5em;
  }
}

.testimonios-main__content__testigos__datos div span{
  font-family:bold,sans-serif;
  color:#242424;
  font-size:1em;
}

.testimonios-main__content__testigos__datos div p{
  color:#242424;
  font-family:regular,sans-serif;
  font-size:1em;
  margin:20px 0;
}

@media screen and (min-width:1024px){
  .testimonios-main__content__testigos__datos div p{
    text-align:center;
    font-size:1.2em;
    width:80%;
    margin:40px auto;
  }
}

.testimonios-main__content__testigos__datos div i{
  font-size:3em;
}

.testimonios-main__content__testigos__img{
  position:relative;
}

.testimonios-main__content__testigos__img img{
  position:relative;
  top:30px;
}

@media screen and (min-width:768px){
  .testimonios-main__content__testigos__img img{
    top:150px;
  }
}

.footer-main{
  width:100%;
  background:#242424;
  position:relative;
}

.footer-main__content{
  padding:50px 0;
}

@media screen and (min-width:1024px){
  .footer-main__content{
    background:url(../img/footer-img.png) no-repeat;
    background-size:80%;
    background-position:60% 0;
  }
}

.footer-main__content__item{
  display:-ms-grid;
  display:grid;
  grid-column-gap:2em;
}

.footer-main__content__item h1{
  margin:0;
  color:#c0aa83;
}

@media screen and (min-width:768px){
  .footer-main__content__item{
    -ms-grid-columns:(1fr)[2];
        grid-template-columns:repeat(2,1fr);
  }
}

@media screen and (min-width:1024px){
  .footer-main__content__item{
    -ms-grid-columns:(1fr)[3];
        grid-template-columns:repeat(3,1fr);
  }
}

.footer-main__content__item__about p{
  font-family:light,sans-serif;
  color:#f4f4f4;
  font-size:1em;
}

@media screen and (min-width:1024px){
  .footer-main__content__item__about p{
    width:80%;
  }
}

.footer-main__content__item__contact ul{
  list-style:none;
  padding:0;
  margin:0;
  font-family:mediun,sans-serif;
  color:#f4f4f4;
}

.footer-main__content__item__contact ul li{
  margin:20px 0;
}

.footer-main__content__item__contact ul li i{
  padding-right:10px;
  font-size:2em;
  color:#c0aa83;
}

@media screen and (min-width:1024px){
  .footer-main__content__item__contact ul li i{
    font-size:1em;
  }
}

.footer-main__content__item__facebook{
  display:none;
}

@media screen and (min-width:1024px){
  .footer-main__content__item__facebook{
    display:block;
  }
}

.footer-main__content__copy{
  width:100%;
  background:rgba(0,0,0,.35);
  text-align:center;
}

.footer-main__content__copy p{
  color:#f4f4f4;
  font-size:1em;
  margin:0;
  padding:20px 0;
  width:80%;
  margin:0 auto;
}

.headabout{
  background:url(../img/about-parrallax.jpg) no-repeat;
  background-attachment:fixed;
  background-size:cover;
  background-position:50%;
  overflow:hidden;
  padding:20px 0;
  margin:0;
  min-height:150px;
  text-align:center;
  position:relative;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
}

@media screen and (min-width:1024px){
  .headabout{
    min-height:300px;
    padding:50px 0;
    text-align:left;
  }
}

.headabout__main h1{
  margin:0;
  color:#f4f4f4;
  font-family:bold,sans-serif;
  font-size:2.5em;
}

@media screen and (min-width:1024px){
  .headabout__main h1{
    font-size:4em;
  }
}

.headabout__main ul{
  list-style:none;
  margin:10px 0 5px;
  padding:0;
  display:block;
}

.headabout__main ul li{
  display:inline-block;
  margin:0;
  font-size:18px;
  font-weight:700;
  padding-right:5px;
}

.headabout__main ul li a{
  color:#f4f4f4;
  cursor:pointer;
}

.historia-main{
  padding:50px 0;
  display:-ms-grid;
  display:grid;
  grid-row-gap:2em;
}

@media screen and (min-width:1024px){
  .historia-main{
    padding:100px 0;
    -ms-grid-columns:(1fr)[2];
        grid-template-columns:repeat(2,1fr);
    grid-gap:3em;
  }
}

.historia-main__info h3{
  font-family:bold,sans-serif;
  color:#c0aa83;
  font-weight:700;
  font-size:1.2em;
  margin:0;
}

@media screen and (min-width:768px){
  .historia-main__info h3{
    font-size:2em;
  }
}

.historia-main__info h1{
  font-family:bold,sans-serif;
  color:#242424;
  font-weight:700;
  font-size:2em;
  margin:0;
}

@media screen and (min-width:768px){
  .historia-main__info h1{
    font-size:3.5em;
  }
}

.historia-main__info p{
  width:100%;
  font-family:regular,sans-serif;
  font-size:1em;
  font-weight:400;
  line-height:30px;
  color:#242424;
  margin:0;
}

@media screen and (min-width:768px){
  .historia-main__info p{
    font-size:1.3em;
    line-height:36px;
  }
}

.historia-main__video a{
  z-index:1;
  text-align:center;
  position:relative;
  display:block;
}

.historia-main__video a:after{
  transition:all .3s ease;
  top:50%;
  left:50%;
  position:absolute;
  -webkit-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%);
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAXCAYAAADtNKTnAAAAkUlEQ…zjXzrpZCYvbATbaTDT1cVGv9NiL/jiOE+iZIsz9ixM+w8NCRTEgm80aQAAAABJRU5ErkJggg==) 50% 50% no-repeat;
  display:block;
  content:"";
  width:84px;
  height:84px;
  -webkit-border-radius:50%;
  -webkit-background-clip:padding-box;
  -moz-border-radius:50%;
  -moz-background-clip:padding;
  border-radius:50%;
  background-clip:padding-box;
  background-color:#b01813;
  border:12px solid hsla(0,0%,100%,.3);
}

.historia-main__video a:hover:after{
  border-color:hsla(0,0%,100%,.8);
}

.historia-main__video p{
  width:80%;
  margin:0 auto;
  text-align:center;
  font-family:kanit;
  font-weight:700;
  letter-spacing:2px;
  padding-top:50px;
  font-size:1.2em;
}

.foda-main{
  display:-ms-grid;
  display:grid;
  padding:0 0 80px;
  grid-row-gap:2em;
}

@media screen and (min-width:768px){
  .foda-main{
    -ms-grid-columns:(1fr)[2];
        grid-template-columns:repeat(2,1fr);
    grid-gap:3em;
  }
}

@media screen and (min-width:1024px){
  .foda-main{
    -ms-grid-columns:(1fr)[4];
        grid-template-columns:repeat(4,1fr);
  }
}

.foda-main__item h1{
  font-family:bold,sans-serif;
  color:#242424;
  font-weight:700;
  font-size:1.5em;
  margin:0;
}

.foda-main__item p{
  font-family:regular,sans-serif;
  color:#242424;
  font-weight:500;
  font-size:1em;
  margin:10px 0;
}

.team-main{
  background:url(../img/parrallax-team.jpg) no-repeat;
  background-size:cover;
  background-position:50%;
  overflow:hidden;
  padding:20px 0;
  margin:0;
  min-height:150px;
  text-align:center;
  position:relative;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
  padding:100px 0;
}

.team-main__content__info{
  font-family:bold,sans-serif;
  margin:20px 0;
}

.team-main__content__info h3{
  color:#c0aa83;
  font-size:2em;
  margin:0;
}

.team-main__content__info h1{
  margin:0;
  color:#f4f4f4;
  font-size:3.5em;
}

.team-main__content__team{
  display:-ms-grid;
  display:grid;
  grid-row-gap:2em;
}

@media screen and (min-width:768px){
  .team-main__content__team{
    -ms-grid-columns:(1fr)[2];
        grid-template-columns:repeat(2,1fr);
    grid-gap:2em;
  }
}

@media screen and (min-width:1024px){
  .team-main__content__team{
    -ms-grid-columns:(1fr)[4];
        grid-template-columns:repeat(4,1fr);
    grid-gap:2em;
  }
}

.team-main__content__team__item{
  border:4px solid #c0aa83;
  padding:30px 10px;
  color:#f4f4f4;
}

.team-main__content__team__item div img{
  border-radius:50%;
  width:200px;
  height:200px;
  margin:0 auto;
  padding:0 20px;
}

.team-main__content__team__item h1{
  font-family:bold,sans-serif;
  color:#c0aa83;
  font-size:1.5em;
  letter-spacing:2px;
}

.team-main__content__team__item p{
  font-family:light,sans-serif;
}

.team-main__content__team__item span{
  font-family:bold,sans-serif;
  letter-spacing:2px;
}

.productos-main{
  display:block;
  padding:100px 0;
}

@media screen and (min-width:1024px){
  .productos-main{
    display:-ms-grid;
    display:grid;
    -ms-grid-columns:(25% 75%)[2];
        grid-template-columns:repeat(2,25% 75%);
    grid-gap:1.5em;
  }
}

.productos-main__filtros{
  background:#f4f4f4;
}

.productos-main__productos__item__content{
  list-style:none;
  margin:0;
  padding:0;
  display:-ms-grid;
  display:grid;
  text-align:center;
  grid-gap:1.5em;
  padding:30px 0;
}

@media screen and (min-width:768px){
  .productos-main__productos__item__content{
    -ms-grid-columns:(1fr)[2];
        grid-template-columns:repeat(2,1fr);
  }
}

@media screen and (min-width:1024px){
  .productos-main__productos__item__content{
    -ms-grid-columns:(1fr)[3];
        grid-template-columns:repeat(3,1fr);
  }
}

.productos-main__productos__item__content__items{
  padding:30px 30px 40px;
  border:1px solid #f6f6f6;
  text-align:center;
  border-radius:0;
  background-clip:padding-box;
  transition:all .3s ease;
}

.productos-main__productos__item__content__items:hover{
  box-shadow:0 0 10px hsla(0,0%,57%,.4);
  transition:all .3s ease;
}

.productos-main__productos__item__content__items h1{
  font-family:bold,sans-serif;
  color:#242424;
  margin:0 0 15px;
}

.productos-main__productos__item__content__items p{
  margin:5px 0;
  font-family:regular,sans-serif;
  font-size:.9em;
}

.productos-main__productos__item__content__items div{
  margin:20px 0;
}

.productos-main__productos__item__content__items div span{
  font-family:bold,sans-serif;
  color:#c0aa83;
  font-size:1.5em;
  font-weight:700;
}

.productos-main__productos__item__content__items a{
  cursor:pointer;
}

.l-container{
  width:90%;
  max-width:1300px;
  margin-left:auto;
  margin-right:auto;
}

/*# sourceMappingURL=styles.css.map */
