section(class="puntosventas-main l-container")
  div(class="puntosventas-main__items")
    div(class="puntosventas-main__items__item")
      h2 Puntos de venta y entrega de Café:
      p Nuestros socios y socias producen café de las variedades Caturra, Bourbon, Pache, Típica, Catuai, Catimor y Geisha en altitudes de 600 a 1800 m.s.n.m. Además, en el sector de Oropel, viven nueve socios productores de café, en una altitud de 2250 m.s.n.m.
      div(class="detalle")
        ul
          li El café que contamos es desde 600 a 2250 msnm.
          li El café es sabor a:
            ul
              li Acidez cítrica balanceado.
              li Cocoa.
          li Cultivos de café asociado a cultivos de cacao.
          li Café amigable con las aves.
          li Café de origen:   
            ul
              li Nativo.
              li Por la altitud de 2,250 (OROPEL).
              li San Juan de pueblo libre.
          li Café mujer – oferta exportable.             
      a(class="button primary") Ver lista
   
    div(class="puntosventas-main__items__item")
      img(src="img/map.png", alt="")
      h3 Paises consumidores
      div(class="puntosventas-main__items__item__paises")
        div
          li
            i(class="fa fa-chevron-right") 
            spam Level Ground: Canadá
          li 
            i(class="fa fa-chevron-right") 
            spam Cooperative Coffee: EE.UU
          li 
            i(class="fa fa-chevron-right") 
            spam Paragon Coffee: EE.UU  
        div
          li 
            i(class="fa fa-chevron-right") 
            spam Royal Coffee: EE.UU 
          li 
            i(class="fa fa-chevron-right") 
            spam Café Direct: Reino Unido – Londres
          li 
            i(class="fa fa-chevron-right") 
            spam Twin Trading: Inglaterra	
        div
          li 
            i(class="fa fa-chevron-right") 
            spam Just Us: Canadá
          li 
            i(class="fa fa-chevron-right") 
            spam Falcon Coffees: Inglaterra
          li 
            i(class="fa fa-chevron-right") 
            spam Taylor: Inglaterra         
          

section(class="puntosventas-main l-container")
  div(class="puntosventas-main__items")
    div(class="puntosventas-main__items__item")
      h2 Puntos de venta y entrega de Cacao:
      p De las fincas de nuestros socios productores de cacao nativo, salen granos con cuidados especiales para elaborar los chocolates más finos del mercado, caracterizados por inigualables sabores frutales propios de las variedades cultivadas en la zona (forastero amazónico y trinitario). Somos una de las zonas productoras reconocidas por sus granos con fino aroma y acidez frutal.
      div(class="detalle")
        ul
          li Criollo (forastero amazónico).
          li Asociado a especies forestal nativo y frutales.          
          li Ubicados entre los 5 primeros puestos en los últimos años a nivel nacional en concursos de calidad de cacao.
          li Contamos con un catador de cacao.             
          li En el Sistema nacional de evaluación acreditación y certificación de la calidad educativa – SINEACE uno de los 5 evaluadores de cata de cacao es el colaborador de la CAC Pangoa         
              
      a(class="button primary") Ver lista

    div(class="puntosventas-main__items__item invertir")
      img(src="img/map.png", alt="")
      h3 Paises consumidores
      div(class="puntosventas-main__items__item__paises")
      
        div
          li
            i(class="fa fa-chevron-right") 
            spam Saldac: Francés 
          li 
            i(class="fa fa-chevron-right") 
            spam Cargill: EE.UU 
          li 
            i(class="fa fa-chevron-right") 
            spam URaaka Chocolate: EE.UU
        div
          li 
            i(class="fa fa-chevron-right") 
            spam Bare Seed 
          li 
            i(class="fa fa-chevron-right") 
            spam Obolo Chocolate: Chile
          li 
            i(class="fa fa-chevron-right") 
            spam Incos Cosmeceutica: Italia   
