section(class="puntosventas-main l-container")
  div(class="puntosventas-main__items")
      div(class="puntosventas-main__items__item")
        h2 Puntos de venta y entrega
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum libero recusandae quidem exercitationem optio repellendus reprehenderit deserunt perferendis? Saepe ratione nisi distinctio officiis expedita quo eligendi quae aliquid, mollitia dolore!
        h3 Paises consumidores
        div(class="puntosventas-main__items__item__paises")
          div
            li
              i(class="icon-play3")  Canada
            li 
              i(class="icon-play3")  Usa
            li 
              i(class="icon-play3")  Mexico
          div
            li 
              i(class="icon-play3")  Brazil
            li 
              i(class="icon-play3")  Aregentina
            li 
              i(class="icon-play3")  Europa
          div
            li 
              i(class="icon-play3")  Rusia
            li 
              i(class="icon-play3")  Asia
            li 
              i(class="icon-play3")  Australia
         
        a(class="button primary") Ver lista

      div(class="puntosventas-main__items__item")
        img(src="img/map.png", alt="")
  