section(class="puntosventas-main l-container")
  div(class="puntosventas-main__items")
      div(class="puntosventas-main__items__item")
        h2 Puntos de venta y entrega
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum libero recusandae quidem exercitationem optio repellendus reprehenderit deserunt perferendis? Saepe ratione nisi distinctio officiis expedita quo eligendi quae aliquid, mollitia dolore!
        h3 Paises consumidores
        div(class="puntosventas-main__items__item__paises")
          div
            li
              i(class="fa fa-chevron-right") 
              spam Canada
            li 
              i(class="fa fa-chevron-right") 
              spam Usa
            li 
              i(class="fa fa-chevron-right") 
              spam Mexico
          div
            li 
              i(class="fa fa-chevron-right") 
              spam Brazil
            li 
              i(class="fa fa-chevron-right") 
              spam Aregentina
            li 
              i(class="fa fa-chevron-right") 
              spam Europa
          div
            li 
              i(class="fa fa-chevron-right") 
              spam Rusia
            li 
              i(class="fa fa-chevron-right") 
              spam Asia
            li 
              i(class="fa fa-chevron-right") 
              spam Australia
         
        a(class="button primary") Ver lista

      div(class="puntosventas-main__items__item")
        img(src="img/map.png", alt="")
  