section(class="relacionados")
    div(class="relacionados__main l-container")
        h1 Relacionados
        div(class="relacionados__main__item")
            div
                a(href="")
                    img(src="img/producto-1.jpg", alt="")
                a(href="")
                    h1 American Black Coffee
                h3 S/ 14.00
                button(class="button primary") Ver producto
            div
                a(href="")
                    img(src="img/producto-1.jpg", alt="")
                a(href="")
                    h1 American Black Coffee
                h3 S/ 14.00
                button(class="button primary") Ver producto
            div
                a(href="")
                    img(src="img/producto-1.jpg", alt="")
                a(href="")
                    h1 American Black Coffee
                h3 S/ 14.00
                button(class="button primary") Ver producto
            div
                a(href="")
                    img(src="img/producto-1.jpg", alt="")
                a(href="")
                    h1 American Black Coffee
                h3 S/ 14.00
                button(class="button primary") Ver producto
