section(class="relacionados")
    div(class="relacionados__main l-container")
        h1 Relacionados
        div(class="relacionados__main__item")
            div
                a(href="")
                    img(src="img/productos/05-premium-coffee-250g.jpg", alt="")
                a(href="")
                    h1 Café Premiun
                h3 S/ 14.00
                button(class="button primary") Ver producto
            div
                a(href="")
                    img(src="img/productos/12-chocolate-pangoa-70.jpg", alt="")
                a(href="")
                    h1 Chocolate Negro
                h3 S/ 14.00
                button(class="button primary") Ver producto
            div
                a(href="")
                    img(src="img/productos/04-polvo-de-cacao-250g.jpg", alt="")
                a(href="")
                    h1 Polvo de Cacao
                h3 S/ 14.00
                button(class="button primary") Ver producto
            div
                a(href="")
                    img(src="img/productos/11-chocolate-pangoa-100.jpg", alt="")
                a(href="")
                    h1 Chocolate para Leche
                h3 S/ 14.00
                button(class="button primary") Ver producto
