block config
  include config/config.pug
doctype html
html(lang="es")
  head
    title Pangoa
    meta(charset="utf-8")
    meta(name="viewport" content="initial-scale=1.0, width=device-width")
    script(src="js/jquery.js")
    script(src="js/bootstrap.min.js")
    link(rel="stylesheet" href="css/bootstrap.min.css")
    link(rel="stylesheet" href="css/styles.css")

  body


    header(class="main-header")
      div(class="l-container")
        a(href="index.html")
          img(src="assets/logo-2.png" alt="" class="logo")
        div(id="toggle-menu" class="icon-menu")
        nav(class="main-nav" id="main-nav")
          include config/menu.pug       
          
   
   
    block main

    footer(class="footer-main")
      div(class="footer-main__content")
        div(class="footer-main__content__item l-container")
          div(class="footer-main__content__item__about")
            a(href="index.html")
              img(src="assets/logo.png" alt="Logo")
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, aspernatur? Atque commodi temporibus voluptatum cupiditate. Itaque odio vitae illum nostrum assumenda at, libero possimus quia et nisi ut ullam atque.
          div(class="footer-main__content__item__contact")
            h1 Contactanos
            ul
              li
                i(class="icon-location")
                spam Junin Pangoa
              li
                i(class="icon-phone")
                spam 5739617
              li
                i(class="icon-google-plus2")
                spam cacpangia@gmail.com
              li
                i(class="icon-whatsapp")
                spam 960492147
            
          div(class="footer-main__content__item__facebook")
            h1 Facebook
      div(class="footer-main__content__copy")
        p © 2018 Cooperativa Pangoa - Todos los derechos reservados - InnovaMarketing


  script(src="js/scripts.js")



