block config
  include config/config.pug
doctype html
html(lang="es")
  head
    title Pangoa
    meta(charset="utf-8")
    meta(name="viewport" content="initial-scale=1.0, width=device-width")
    link(rel="stylesheet" href="css/bootstrap.min.css")
    link(rel="stylesheet" href="css/styles.css")
    link(rel="stylesheet" href="css/slider-css.css")
  body
    header(class="cd-header")
      div(class="cd-header__logo")
        a(href="#0")
          img(src="assets/logo.png" alt="Logo")

      nav(class="cd-header__nav js-cd-header__nav ") 
          block config
            include config/menu.pug
  
    section(class="cd-hero js-cd-hero js-cd-autoplay")
      ul(class="cd-hero__slider")
        li(class="cd-hero__slide cd-hero__slide--selected js-cd-slide")
          div(class="cd-hero__content cd-hero__content--full-width")
            h2 hero slider 
            p A simple, responsive slideshow in CSS &amp; JavaScript.
            a(href="" class="cd-hero__btn" ) ver productos
        
        
        li(class="cd-hero__slide js-cd-slide")
          div(class="cd-hero__content cd-hero__content--half-width")
            h2 hero slider 
            p A simple, responsive slideshow in CSS &amp; JavaScript.
            a(href="" class="cd-hero__btn" ) ver productos
          div(class="cd-hero__content cd-hero__content--half-width cd-hero__content--img")
            img(src="img/p2.png", alt="")
       
        li(class="cd-hero__slide js-cd-slide")
          div(class="cd-hero__content cd-hero__content--half-width cd-hero__content--img")
            img(src="img/p3.png", alt="")
      
          div(class="cd-hero__content cd-hero__content--half-width")
            h2 hero slider 
            p A simple, responsive slideshow in CSS &amp; JavaScript.
            a(href="" class="cd-hero__btn" ) ver productos
        li(class="cd-hero__slide js-cd-slide")
         
          div(class="cd-hero__content cd-hero__content--half-width")
            h2 hero slider 
            p A simple, responsive slideshow in CSS &amp; JavaScript.
            a(href="" class="cd-hero__btn" ) ver productos
          div(class="cd-hero__content cd-hero__content--bg-video js-cd-bg-video" data-video="assets/video/video")

      div     
        div(class="cd-hero__nav js-cd-nav")
          nav
            span(class="cd-hero__marker cd-hero__marker--item-1 js-cd-marker")
            ul
              li(class="cd-selected")
                a(href="") 
              li(class="")
                a(href="")
              li(class="")
                a(href="")
              li(class="")
                a(href="")
  
    
    block main

    footer.container
      div.row
        div(class="")
          a(href="#0")
           img(src="assets/cd-logo.svg" alt="Logo")
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, aspernatur? Atque commodi temporibus voluptatum cupiditate. Itaque odio vitae illum nostrum assumenda at, libero possimus quia et nisi ut ullam atque.
        div(class="")
          h1 Contactanos
          ul
            li
              i 
              spam Junin Pangoa
            li
              i 
              spam +5164 53017
            li
              i 
              spam cacpangia@gmail.com
            li
              i 
              spam 960492147
           
        div(class="")
          h1 Facebook


    script(src="js/jquery.js")
    script(src="js/bootstrap.min.js")
    script(src="js/popper.min.js")
    script(src="js/scripts.js")
    script(src="js/slider-css.js")
