block config
  include config/config.pug
doctype html
html(lang="es")
  head
    title Pangoa
    meta(charset="utf-8")
    meta(name="viewport" content="initial-scale=1.0, width=device-width")
    link(rel="stylesheet" href="css/owl.carousel.css")
    link(rel="stylesheet" href="css/owl.theme.css")  
    script(src="js/jquery.js")
    link(rel="stylesheet" href="css/bootstrap.min.css")
    link(rel="stylesheet" href="css/styles.css")
    link(rel="stylesheet" href="css/bootstrap-select.min.css")
    link(rel="stylesheet" href="css/font-awesome.css")
    link(rel="stylesheet" href="css/animate.min.css")
  body


    header(class="main-header")
      div(class="l-container")
        a(href="index.html")
          img(src="assets/logo-2.png" alt="" class="logo")
        div(id="toggle-menu" class="icon-menu")
        nav(class="main-nav" id="main-nav")
          include config/menu.pug       
          
   
   
    block main

    footer(class="footer-main" id="pie")
      div(class="footer-main__content")
        div(class="footer-main__content__item l-container")
          div(class="footer-main__content__item__about")
            a(href="index.html")
              img(src="assets/logo.png" alt="Logo")
            p San Martín de Pangoa es uno de los distritos de la Provincia de Satipo, departamento de Junín, cuya área territorial es de 6,197.41 Km.2, fue creado como tal un 26 de Marzo de 1965 alcanzando actualmente mas de 150 anexos, 36 comunidades Nativas convirtiéndose en un Distrito Prospero e Importante a nivel de la Selva Central.
          div(class="footer-main__content__item__contact")
            h1 Contactanos
            ul
              li
                i(class="icon-location")
                spam Junin Pangoa
              li
                i(class="icon-phone")
                spam 5739617
              li
                i(class="icon-google-plus2")
                spam cacpangoa@cacpangoa.com
              li
                i(class="icon-whatsapp")
                spam 960492147
            
          div(class="footer-main__content__item__facebook")
            h1 Facebook
      div(class="footer-main__content__copy")
        p © 2018 Cooperativa Pangoa - Todos los derechos reservados - InnovaMarketing


  script(src="js/scripts.js")
  script(src="js/popper.min.js")
  script(src="js/bootstrap.min.js")
  script(src="js/bootstrap-select.min.js")
  script(src="js/owl.carousel.js")



