.detalle-portada {
    width: 100%;
    height: 550px;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply, multiply;
    background-size: cover;
    background-position: center;
    .info-main {
        width: 100%;
        height: 550px;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        .info {
            max-width: 730px;
            margin-bottom: 30px;
            color: white;
            .categoria {
                margin-bottom: 22px;
                font-family: $titulos, sans-serif;
                font-weight: 500;
                font-size: 18px;
                text-transform: uppercase;
                a{
                  color: #ffffff;
                  opacity: 0.5;
                  transition: 0.1s;
                  &:hover{
                    opacity: 1;
                    transition: 0.1s;
                  }
                }
            }
            .titulo {
                margin-top: 6px;
                margin-bottom: 13px;
                font-family: $titulos, sans-serif;
                font-size: 3rem;
                font-weight: 700;
                letter-spacing: 1px;
                line-height: 37px;
            }
        }
    }
}

.post-detalle{

  .post-main{
    display: grid;
    grid-template-columns: 62.5% 32.5%;
    grid-gap: 5%;

    &__detalle{

    }


    &__filtro{
      position: fixed;
      left: 914.375px;
      top: 0px;
      width: 285px;
      margin-left: 0px;
      padding: 0px 15px;
      margin-top: 0px;
      z-index: 1;
    }
  }
}
