.button {
    font-size: 1.2em;
    transition: all .25s;
    font-family: $titulos, sans-serif;
    &.primary {
        background: $crema;
        color: $negro;
        line-height: 1.9em;
        padding: 10px 40px;
        border: 2px solid $crema;
        transition: all .25s;
        &:hover {
            border-color: $negro;
            background: transparent;
            color: $negro;
            transition: all .25s;
            text-decoration: none;
        }
    }
    &.secondary {
        background: $crema;
        color: $negro;
        line-height: 1.9em;
        padding: 10px 40px;
        border: 2px solid $crema;
        transition: all .25s;
        &:hover {
            border-color: $negro;
            background: $white;
            color: $negro;
            transition: all .25s;
            text-decoration: none;
        }
    }
}


.btnproducto{
    font-family: $textosr, sans-serif;
    font-weight:700;
    font-size: .9em;
    padding: 5px;
    display: inline-block;
    letter-spacing: 1px;
    line-height: 1.6;
    border-radius: 50px;
    text-decoration: none;
    &.primary {
        background: $crema;
        color: $negro;
        transition: all .25s;
        &:hover {
            background: $negro;
            color: $white;
            transition: all .25s;
            text-decoration: none;
        }
    }
}

